---
include:
  default:
    - profile::application::openssl::catrust

profile::monitoring::sensu::agent::enable_agent:  true

named_interfaces::config:
  mgmt:
    - eth0
  transport:
    - eth0_101
  trp:
    - eth0_101
  live:
    - eth0_100

# Add custom routing table for private network to NAT
profile::base::network::routes:
  'eth0.100':
    'ipaddress': [ '0.0.0.0', '0.0.0.0', ]
    'netmask':   [ '0.0.0.0', '0.0.0.0', ]
    'gateway':   [ "%{hiera('netcfg_priv_gateway')}", "%{hiera('netcfg_trp_gateway')}" ]
    'table':     [ 'private', 'main', ]
profile::base::network::routing_tables:
  'private':
    'table_id':  '240'
profile::base::network::rules:
  'eth0.100':
    iprule: [ "from %{hiera('netcfg_priv_network')} lookup private", ]

# Red Hat Subscription Management (RHSM)
profile::rhsm::subscription::manage: false
profile::rhsm::virtwho::manage:      false

# Create and enable more swap
profile::base::common::extraswap:        true
profile::base::common::extraswap_sizegb: 10
