---
profile::base::common::manage_sysctl: true
profile::base::common::sysctl_values:
  'net.ipv6.conf.all.disable_ipv6':
    value: 1

profile::dns::ns::internal_zone: "%{hiera('domain_public')}" # public and internal are the same subdomain

# Designate server addresses (used by file templates)
profile::dns::ns::use_public_ip: true
profile::dns::ns::mdns_public_addr:
  - '192.168.13.245'

# DNS server firewall configuration
profile::dns::ns::rndc_sources_ipv4:
  - '192.168.12.245'
  - '192.168.13.245'

# Forward zones, for which the name server is authoritative
profile::dns::ns::fw_zones:
  internal:
    zone: "%{hiera('profile::dns::ns::public_zone')}"
    filename: "pz/%{hiera('profile::dns::ns::public_zone')}"
    ns_a_records:
      'ns': "%{hiera('public__ip__ns')}"

profile::dns::ns::ptr_zones:
  mgmt:
    cidr: "%{::network_mgmt1}/%{::cidr_mgmt1}"
    origin: "%{hiera('reverse_mgmt')}"
    filename: "pz/%{hiera('reverse_mgmt')}"
  transport:
    cidr: "%{::network_trp1}/%{::cidr_trp1}"
    origin: "%{hiera('reverse_trp')}"
    filename: "pz/%{hiera('reverse_trp')}"
  public:
    cidr: "192.168.13.0/24" # facts for public1 are /32 and cannot be used here
    origin: "%{hiera('reverse_public')}"
    filename: "pz/%{hiera('reverse_public')}"
