---
include:
  default:
    - profile::dns::rndc_key

profile::dns::rndc_key::create_admin_key:    true
profile::dns::rndc_key::create_mdns_key:     false
profile::dns::rndc_key::host_is_bind_server: false

dhcp::pools:
  "out-of-band network definition":
    network: "%{hiera('netcfg_oob_netpart')}.0"
    mask: "%{hiera('netcfg_oob_netmask')}"
    gateway: "%{hiera('netcfg_oob_gateway')}"
    options:
      # iDRAC will search for file in order <servicetag>-config.json, <model>-config.json, config.json
      # examples: 4U1BGM7-config.json, R740xd-config.json, config.json
      # Refer to the zero-touch, bare metal server provisioning document from Dell for options.
      - vendor-class-identifier "iDRAC"
      - idrac-provision-url "-i %{::ipaddress_oob1} -s http -t 500 -n %{::location}/"
    parameters:
      - set vendor-string = option vendor-class-identifier
      - default-lease-time 43200
      - max-lease-time 86400
    nameservers:
      - "%{hiera('netcfg_oob_netpart')}.10"

dhcp::hosts:
# osl-login-01 oob link: 10
# osl-login-02 oob link:  8
#
#  osl-leaf-01:
#    mac: '00:01:e8:d8:3f:d7'
#    ip:  '172.16.32.1'
#  osl-leaf-02:
#    mac: '00:01:e8:d8:38:28'
#    ip:  '172.16.32.2'
#  osl-leaf-03:
#    mac: '00:01:e8:d8:25:9f'
#    ip:  '172.16.32.3'
  osl-leaf-04:
    mac: '00:01:e8:d8:49:ff'
    ip:  '172.16.32.4'
  osl-spine-01:
    mac: '8c:04:ba:c6:72:c0'
    ip:  "%{hiera('netcfg_mgmt_net_c6')}.1"
  osl-spine-02:
    mac: '8c:04:ba:bf:f7:40'
    ip:  "%{hiera('netcfg_mgmt_net_c6')}.2"
  osl-torack-01:
    mac: 'e4:f0:04:b6:51:32'
    ip:  '172.16.32.1'
  osl-torack-02:
    mac: 'e4:f0:04:b6:52:32'
    ip:  '172.16.32.2'
  osl-mgmt-00:
    mac: '90:3c:b3:00:56:80'
    ip: '172.16.34.100'
  osl-mgmt-01:
    mac: '3c:2c:30:49:89:00'
    ip: '172.16.34.1'
  osl-mgmt-02:
    mac: '8c:04:ba:b2:ab:40'
    ip: '172.16.34.2'
  osl-mgmt-03:
    mac: '0c:29:ef:d8:75:20'
    ip: '172.16.34.3'
  osl-mgmt-04:
    mac: '1c:72:1d:cf:d0:bf'
    ip: '172.16.34.4'
  osl-mgmt-05:
    mac: 'b8:6a:97:5d:a6:80'
    ip: '172.16.34.5'
  osl-mgmt-06:
    mac: '68:21:5f:6a:d7:80'
    ip: '172.16.34.6'
  osl-compute-01-bmc:
    mac: 'b8:2a:72:fc:77:28'
    ip:  '172.17.32.103'
  osl-compute-02-bmc:
    mac: 'b8:2a:72:fc:64:08'
    ip:  '172.17.32.104'
  osl-compute-03-bmc:
    mac: 'b8:2a:72:fc:6f:cc'
    ip:  '172.17.32.105'
  osl-compute-04-bmc:
    mac: '84:7b:eb:d7:04:4a'
    ip:  '172.17.32.111'
  osl-compute-05-bmc:
    mac: '84:7b:eb:d7:04:24'
    ip:  '172.17.32.112'
  osl-compute-06-bmc:
    mac: '84:7b:eb:d7:04:36'
    ip:  '172.17.32.113'
  osl-compute-07-bmc:
    mac: 'f8:ca:b8:ff:99:e2'
    ip:  '172.17.32.115'
  osl-compute-08-bmc:
    mac: 'f8:ca:b8:ff:ba:d6'
    ip:  '172.17.32.116'
  osl-compute-09-bmc:
    mac: '4c:d9:8f:24:5a:1c'
    ip:  '172.17.32.117'
  osl-compute-10-bmc:
    mac: '4c:d9:8f:24:5f:26'
    ip:  '172.17.32.118'
  osl-controller-01-bmc:
    mac: 'b8:2a:72:fc:3e:c8'
    ip:  '172.17.32.100'
  osl-controller-02-bmc:
    mac: 'b8:2a:72:fc:3d:c2'
    ip:  '172.17.32.101'
  osl-controller-03-bmc:
    mac: 'b8:2a:72:fc:3e:5a'
    ip:  '172.17.32.102'
  osl-controller-04-bmc:
    mac: 'e0:db:55:05:35:7c'
    ip:  '172.17.32.114'
  osl-controller-05-bmc:
    mac: 'f4:02:70:c0:3f:66'
    ip:  '172.17.32.126'
  osl-controller-06-bmc:
    mac: 'f4:02:70:c0:3f:c6'
    ip:  '172.17.32.127'
  osl-controller-07-bmc:
    mac: 'f4:02:70:c0:43:38'
    ip:  '172.17.32.128'
  osl-controller-08-bmc:
    mac: 'f4:02:70:c0:3f:30'
    ip:  '172.17.32.129'
  osl-login-01old-bmc:
    mac: '18:03:73:ed:d3:91'
    ip:  '172.17.32.199'
  osl-login-01-bmc:
    mac: '18:66:da:71:b1:da'
    ip:  '172.17.32.1'
  osl-storage-01-bmc:
    mac: '5c:f9:dd:ff:15:94'
    ip:  '172.17.32.106'
  osl-storage-02-bmc:
    mac: '5c:f9:dd:ff:16:1a'
    ip:  '172.17.32.107'
  osl-storage-03-bmc:
    mac: '5c:f9:dd:ff:17:58'
    ip:  '172.17.32.108'
  osl-storage-04-bmc:
    mac: '5c:f9:dd:ff:13:d2'
    ip:  '172.17.32.109'
  osl-storage-05-bmc:
    mac: '5c:f9:dd:ff:1b:a6'
    ip:  '172.17.32.110'
  osl-storage-06-bmc:
    mac: 'd0:94:66:8c:47:b3'
    ip:  '172.17.32.124'
  osl-storage-07-bmc:
    mac: 'd0:94:66:8f:37:b7'
    ip:  '172.17.32.125'
  osl-compute-11-bmc:
    mac: '4c:d9:8f:17:eb:66'
    ip:  '172.17.33.11'
  osl-compute-12-bmc:
    mac: '4c:d9:8f:17:ea:04'
    ip:  '172.17.33.12'
  osl-compute-13-bmc:
    mac: '4c:d9:8f:17:e8:72'
    ip:  '172.17.33.13'
  osl-compute-14-bmc:
    mac: '4c:d9:8f:17:e7:70'
    ip:  '172.17.33.14'
  osl-compute-15-bmc:
    mac: '4c:d9:8f:17:e6:44'
    ip:  '172.17.33.15'
  osl-compute-16-bmc:
    mac: '4c:d9:8f:17:ea:fa'
    ip:  '172.17.33.16'
  osl-compute-17-bmc:
    mac: '70:b5:e8:e8:bc:06'
    ip:  '172.17.33.17'
  osl-compute-18-bmc:
    mac: 'f4:02:70:cc:f0:a8'
    ip:  '172.17.33.18'
  osl-compute-19-bmc:
    mac: '70:b5:e8:e8:c2:fc'
    ip:  '172.17.33.19'
  osl-compute-20-bmc:
    mac: '70:b5:e8:e8:c4:b2'
    ip:  '172.17.33.20'
  osl-compute-21-bmc:
    mac: 'ac:1f:6b:a6:3f:15'
    ip:  '172.17.33.21'
  osl-compute-22-bmc:
    mac: 'ac:1f:6b:a6:3e:48'
    ip:  '172.17.33.22'
  osl-compute-23-bmc:
    mac: 'ac:1f:6b:a6:3e:21'
    ip:  '172.17.33.23'
  osl-compute-24-bmc:
    mac: 'ac:1f:6b:a6:3e:d8'
    ip:  '172.17.33.24'
  osl-compute-25-bmc:
    mac: 'ac:1f:6b:a6:3e:37'
    ip:  '172.17.33.25'
  osl-compute-26-bmc:
    mac: 'ac:1f:6b:a6:3d:ef'
    ip:  '172.17.33.26'
  osl-compute-27-bmc:
    mac: 'ac:1f:6b:a6:3d:ed'
    ip:  '172.17.33.27'
  osl-compute-28-bmc:
    mac: 'ac:1f:6b:a6:3e:d7'
    ip:  '172.17.33.28'
  osl-compute-29-bmc:
    mac: '00:25:90:bc:ca:15'
    ip:  '172.17.33.29'
  osl-compute-30-bmc:
    mac: '00:25:90:bc:e3:87'
    ip:  '172.17.33.30'
  osl-compute-31-bmc:
    mac: '00:25:90:bc:c9:d7'
    ip:  '172.17.33.31'
  osl-compute-32-bmc:
    mac: '00:25:90:bc:e3:3d'
    ip:  '172.17.33.32'
  osl-compute-33-bmc:
    mac: '00:25:90:bc:e3:17'
    ip:  '172.17.33.33'
  osl-compute-34-bmc:
    mac: '00:25:90:bc:e3:89'
    ip:  '172.17.33.34'
  osl-compute-35-bmc:
    mac: '00:25:90:bc:e3:31'
    ip:  '172.17.33.35'
  osl-compute-36-bmc:
    mac: '00:25:90:bc:e3:57'
    ip:  '172.17.33.36'
  osl-compute-37-bmc:
    mac: '00:25:90:bc:e3:6f'
    ip:  '172.17.33.37'
  osl-compute-38-bmc:
    mac: '00:25:90:bc:69:f4'
    ip:  '172.17.33.38'
  osl-compute-39-bmc:
    mac: '00:25:90:bc:e3:4d'
    ip:  '172.17.33.39'
  osl-compute-40-bmc:
    mac: '00:25:90:bc:e3:63'
    ip:  '172.17.33.40'
  osl-compute-42-bmc:
    mac: 'ac:1f:6b:64:6e:50'
    ip:  '172.17.33.42'
  osl-compute-43-bmc:
    mac: '1c:20:db:ec:60:a3'
    ip:  '172.17.33.43'
  osl-compute-44-bmc:
    mac: '1c:20:db:ec:0a:d8'
    ip:  '172.17.33.44'
  osl-compute-45-bmc:
    mac: '1c:20:db:eb:fe:86'
    ip:  '172.17.33.45'
  osl-compute-46-bmc:
    mac: '1c:20:db:eb:fe:39'
    ip:  '172.17.33.46'
  osl-compute-47-bmc:
    mac: '1c:20:db:eb:fe:8d'
    ip:  '172.17.33.47'
  osl-compute-48-bmc:
    mac: '1c:20:db:ec:61:1a'
    ip:  '172.17.33.48'
  osl-compute-49-bmc:
    mac: '1c:20:db:eb:fe:47'
    ip:  '172.17.33.49'
  osl-compute-50-bmc:
    mac: '1c:20:db:ec:60:8e'
    ip:  '172.17.33.82'
  osl-compute-52-bmc:
    mac: 'ec:2a:72:0a:b1:6a'
    ip:  '172.17.33.84'
  osl-compute-53-bmc:
    mac: 'ec:2a:72:18:76:ec'
    ip:  '172.17.33.85'
  osl-compute-54-bmc:
    mac: 'ec:2a:72:0a:b3:da'
    ip:  '172.17.33.86'
  osl-compute-55-bmc:
    mac: 'b0:7b:25:e5:b9:f8'
    ip:  '172.17.33.87'
  osl-compute-56-bmc:
    mac: 'ec:2a:72:01:7d:42'
    ip:  '172.17.33.88'
  osl-compute-57-bmc:
    mac: 'b4:45:06:ef:d5:b7'
    ip:  '172.17.33.89'
  osl-compute-58-bmc:
    mac: 'b4:45:06:ef:c0:0f'
    ip:  '172.17.33.90'
  osl-compute-59-bmc:
    mac: 'b4:45:06:ee:87:c3'
    ip:  '172.17.33.91'
  osl-compute-60-bmc:
    mac: 'b4:45:06:f1:56:81'
    ip:  '172.17.33.92'
  osl-compute-61-bmc:
    mac: 'b4:45:06:ee:87:b7'
    ip:  '172.17.33.122'
  osl-compute-62-bmc:
    mac: 'b4:45:06:f0:31:59'
    ip:  '172.17.33.123'
  osl-compute-63-bmc:
    mac: 'b4:45:06:ee:9a:d7'
    ip:  '172.17.33.124'
  osl-nfs-01-bmc:
    mac: 'b8:ac:6f:90:d7:7d'
    ip:  '172.17.33.80'
  osl-object-01-bmc:
    mac: '18:66:da:bd:57:6d'
    ip:  '172.17.32.119'
  osl-object-02-bmc:
    mac: '18:66:da:bc:ea:14'
    ip:  '172.17.32.120'
  osl-object-03-bmc:
    mac: '18:66:da:bd:5b:aa'
    ip:  '172.17.32.121'
  osl-object-04-bmc:
    mac: '18:66:da:bd:62:4c'
    ip:  '172.17.32.122'
  osl-object-05-bmc:
    mac: '18:66:da:bd:65:03'
    ip:  '172.17.32.123'
  osl-storage-13-bmc:
    mac: '48:dc:2d:10:92:89'
    ip:  '172.17.33.55'
  osl-storage-14-bmc:
    mac: '48:dc:2d:10:92:d6'
    ip:  '172.17.33.56'
  osl-storage-15-bmc:
    mac: '48:dc:2d:10:92:eb'
    ip:  '172.17.33.57'
  osl-storage-16-bmc:
    mac: '48:dc:2d:10:92:a5'
    ip:  '172.17.33.58'
  osl-storage-17-bmc:
    mac: '48:dc:2d:0f:8d:ae'
    ip:  '172.17.33.59'
  osl-storage-18-bmc:
    mac: '48:dc:2d:10:92:97'
    ip:  '172.17.33.60'
  osl-storage-19-bmc:
    mac: '48:dc:2d:10:93:35'
    ip:  '172.17.33.61'
  osl-storage-20-bmc:
    mac: '48:dc:2d:10:93:27'
    ip:  '172.17.33.62'
  osl-storage-21-bmc:
    mac: '48:dc:2d:10:93:3c'
    ip:  '172.17.33.63'
  osl-storage-22-bmc:
    mac: '48:dc:2d:10:92:cf'
    ip:  '172.17.33.64'
  osl-storage-23-bmc:
    mac: '48:dc:2d:10:92:5f'
    ip:  '172.17.33.65'
  osl-storage-24-bmc:
    mac: '48:dc:2d:10:92:6d'
    ip:  '172.17.33.66'
  osl-storage-25-bmc:
    mac: '48:dc:2d:10:92:f9'
    ip:  '172.17.33.67'
  osl-compute-64-bmc:
    mac: '58:8a:5a:e6:94:60'
    ip:  '172.17.33.125'
  osl-compute-65-bmc:
    mac: '58:8a:5a:e6:8e:90'
    ip:  '172.17.33.126'
  osl-compute-66-bmc:
    mac: '58:8a:5a:e7:bf:76'
    ip:  '172.17.33.127'
  osl-storage-26-bmc:
    mac: '18:fb:7b:ab:5b:fb'
    ip:  '172.17.33.68'
  osl-storage-27-bmc:
    mac: '18:66:da:8c:1b:a2'
    ip:  '172.17.33.69'
  osl-storage-28-bmc:
    mac: '18:66:da:6a:94:e5'
    ip:  '172.17.33.70'
  osl-storage-29-bmc:
    mac: '18:66:da:6a:97:f4'
    ip:  '172.17.33.71'
  osl-storage-30-bmc:
    mac: '18:66:da:6a:69:4c'
    ip:  '172.17.33.72'
  osl-storage-31-bmc:
    mac: '18:66:da:6a:95:09'
    ip:  '172.17.33.73'
  osl-storage-32-bmc:
    mac: '18:fb:7b:aa:4f:d9'
    ip:  '172.17.33.74'
