---
frontend_star_ssl_pem:    "star.%{hiera('domain_frontend')}.pem"
frontend_star_ssl_pem2:   "star.%{hiera('domain_frontend2')}.pem"
# api_ssl_pem:                "api.uh-iaas.no.pem"
# status_ssl_pem:             "status.uh-iaas.no.pem"
# console_ssl_pem:  "console.uh-iaas.no.pem"
# access_ssl_pem:   "access.uh-iaas.no.pem"

network__backend__names:
  - '%{::location}-network-01'
  - '%{::location}-network-02'
  - '%{::location}-network-03'
network__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.71"
  - "%{hiera('netcfg_trp_netpart')}.72"
  - "%{hiera('netcfg_trp_netpart')}.73"
compute__backend__names:
  - '%{::location}-novactrl-01'
  - '%{::location}-novactrl-02'
  - '%{::location}-novactrl-03'
compute__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.66"
  - "%{hiera('netcfg_trp_netpart')}.67"
  - "%{hiera('netcfg_trp_netpart')}.68"
identity__backend__names:
  - "%{::location}-identity-01"
  - "%{::location}-identity-02"
  - "%{::location}-identity-03"
identity__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.81"
  - "%{hiera('netcfg_trp_netpart')}.82"
  - "%{hiera('netcfg_trp_netpart')}.83"
image__backend__names:
  - '%{::location}-image-01'
  - '%{::location}-image-02'
  - '%{::location}-image-03'
image__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.36"
  - "%{hiera('netcfg_trp_netpart')}.37"
  - "%{hiera('netcfg_trp_netpart')}.38"
volume__backend__names:
  - "%{::location}-volume-01"
  - "%{::location}-volume-02"
  - "%{::location}-volume-03"
volume__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.46"
  - "%{hiera('netcfg_trp_netpart')}.47"
object__backend__names:
  - '%{::location}-rgw-01'
  - '%{::location}-rgw-02'
object__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.84"
  - "%{hiera('netcfg_trp_netpart')}.85"

# Temp. workaround for issue where network nodes in OSL want to contact
# identity in BGO and is redirected thorugh an /etc/hosts entry
profile::highavailability::loadbalancing::haproxy::haproxy_mapfile:
  internal_domains:
    ensure: present
    mappings:
      - "identity.bgo.uhdc.no:5000":         'bk_identity'
      - "identity.bgo.uhdc.no:35357":        'bk_identity'
