---
profile::bootstrap::himlar::libvirt:
  '%{location}-admin-01':
    domain:           "%{hiera('domain_mgmt')}"
    libvirt_pool:     'dirpool'
    libvirt_network:  'directnet'
    node_ip:          "%{hiera('netcfg_mgmt_net_c0')}.11"
    node_netmask:     "%{hiera('netcfg_mgmt_netmask')}"
    node_gateway:     "%{hiera('netcfg_mgmt_net_c0')}.10" #login
    vm_vcpus:         4
    vm_memory:        16192

profile::base::physical::configure_bmc_nic:          true
profile::base::physical::enable_redfish_sensu_check: true
profile::monitoring::sensu::agent::checks:
  'redfish-check':
    command:      '/usr/local/bin/redfish_check.sh'
    interval:     1800
    subscribers:  ['checks']

ceph_version:         'octopus'
