---
include:
  default:
    - profile::network::services

ntp::servers:
  - 172.16.32.106
  - 172.16.32.107
  - 172.16.32.108

foreman_bootstrap::virt_install:
  osl-foreman-01:
    domain:          'iaas.uio.no'
    libvirt_pool:    'dirpool'
    libvirt_network: 'directnet'
    install_ip:      '172.16.32.11'
    install_netmask: '255.255.248.0'
    install_gateway: '172.16.32.12'
