---
himlar_bootstrap::virt_install:
  '%{location}-admin-01':
    domain:          'mgmt.osl.uhdc.no'
    libvirt_pool:    'dirpool'
    libvirt_network: 'directnet'
    install_ip:      '172.16.32.11'
    install_netmask: '255.255.248.0'
    install_gateway: '172.16.32.10'
    vm_vcpus:        2
    vm_memory:       8096
    vm_console:      false
    use_dhcp:        false

profile::base::physical::configure_bmc_nic:          true
profile::base::physical::enable_redfish_sensu_check: true
profile::monitoring::sensu::agent::checks:
  'redfish-check':
    command:      '/usr/local/bin/redfish_check.sh'
    interval:     1800
    subscribers:  ['checks']

ceph_version:         'octopus'
