---
profile::network::services::manage_dhcp:  false
profile::firewall::pre::manage_ipv6_ssh:  true

openstack_extras::repo::redhat::redhat::purge_unmanaged: false

# Disable centos yum repo
profile::base::yumrepo::repo_hash:
  CentOS-Base:
    ensure: absent
  CentOS-Updates:
    ensure: absent
  CentOS-Extras:
    ensure: absent

# Himlar bootstrap
profile::bootstrap::himlar::manage_bootstrap_scripts: true
himlar_bootstrap::tftp_install:
  osl-controller-01:
    domain:           'iaas.uio.no'
    dhcp_interface:   'em4'
    dhcp_range_start: '172.16.32.200'
    dhcp_range_end:   '172.16.32.250'
    dhcp_gateway:     '172.16.32.10'
    macaddress:       'ec:f4:bb:c7:fb:cc'
  'test02-controller-01':
    domain:           'test.iaas.uio.no'
    dhcp_interface:   'p2p4'
    dhcp_range_start: "172.28.32.200"
    dhcp_range_end:   "172.28.32.250"
    dhcp_gateway:     "172.28.32.10"
    macaddress:       'b8:ac:6f:91:67:4b'

profile::application::git::settings:
  hostname: "osl"

named_interfaces::config:
  mgmt:
    - em4
  public:
    - em1

# Db backup
profile::base::login::db_servers:
  osl-db-01:
    hour:     '*'
    minute:   '20'
    command:  '/usr/local/sbin/db-dump.sh osl-db-01 >/dev/null'
  osl-db-02:
    hour:     '*'
    minute:   '30'
    command:  '/usr/local/sbin/db-dump.sh osl-db-02 >/dev/null'
  test02-db-01:
    hour:     '*'
    minute:   '20'
    command:  '/usr/local/sbin/db-dump.sh test02-db-01 >/dev/null'
  test02-db-02:
    hour:     '*'
    minute:   '30'
    command:  '/usr/local/sbin/db-dump.sh test02-db-02 >/dev/null'

ssh::server::options:
  # No 2FA possible with gitolite
  # bgo-login-01
  'Match User git Address 129.177.6.133':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:200:6::133':
    AuthenticationMethods: 'publickey'
  # osl-login-01
  'Match User git Address 129.240.224.100':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:100:8241::100':
    AuthenticationMethods: 'publickey'
  # internal mgmt network osl
  'Match User git Address 172.16.32.0/21':
    AuthenticationMethods: 'publickey'
  # internal mgmt network test02
  'Match User git Address 172.28.32.0/24':
    AuthenticationMethods: 'publickey'
  # download/repo-server
  'Match User git Address 129.240.121.86':
    AuthenticationMethods: 'publickey'
