---
include:
  default:
    - profile::firewall::rules

profile::network::services::manage_dhcp:  false
profile::firewall::pre::manage_ipv6_ssh:  true
profile::base::login::forward_oobnet:     true
profile::base::login::oob_net:            "172.17.32.0/21"
profile::base::login::oob_outiface:       'em2'

openstack_extras::repo::redhat::redhat::purge_unmanaged: false

# Disable centos yum repo
profile::base::yumrepo::repo_hash:
  CentOS-Base:
    ensure: absent
  CentOS-Updates:
    ensure: absent
  CentOS-Extras:
    ensure: absent

# Himlar bootstrap
profile::bootstrap::himlar::manage_bootstrap_scripts: true
himlar_bootstrap::tftp_install:
  osl-controller-01:
    domain:           'iaas.uio.no'
    dhcp_interface:   'em1'
    dhcp_range_start: '172.16.32.200'
    dhcp_range_end:   '172.16.32.250'
    dhcp_gateway:     '172.16.32.10'
    macaddress:       'ec:f4:bb:c7:fb:cc'
  'test02-controller-01':
    domain:           'test.iaas.uio.no'
    dhcp_interface:   'p3p2'
    dhcp_range_start: "172.28.32.200"
    dhcp_range_end:   "172.28.32.250"
    dhcp_gateway:     "172.28.32.10"
    macaddress:       'b8:ac:6f:91:67:4b'

profile::application::git::settings:
  hostname: "osl"

named_interfaces::config:
  mgmt:
    - em4
    - p2p4
  public:
    - em1
  oob:
    - em3
    - p2p3

# Db backup
profile::base::login::db_servers:
  osl-db-global-01:
    hour:     '*'
    minute:   '20'
    command:  '/usr/local/sbin/db-dump.sh osl-db-global-01 >/dev/null'
  osl-db-regional-01:
    hour:     '*'
    minute:   '30'
    command:  '/usr/local/sbin/db-dump.sh osl-db-regional-01 >/dev/null'
  test02-db-global-01:
    hour:     '*'
    minute:   '20'
    command:  '/usr/local/sbin/db-dump.sh test02-db-global-01 >/dev/null'
  test02-db-regional-01:
    hour:     '*'
    minute:   '30'
    command:  '/usr/local/sbin/db-dump.sh test02-db-regional-01 >/dev/null'
  osl-db-archival:
    hour:     '0'
    minute:   '45'
    weekday:  'Monday'
    command:  '/usr/local/sbin/db-longterm-bck.sh -e osl >/dev/null'
  test02-db-archival:
    hour:     '0'
    minute:   '55'
    weekday:  'Monday'
    command:  '/usr/local/sbin/db-longterm-bck.sh -e test02 >/dev/null'

ssh::server::options:
  # No 2FA possible with gitolite
  # bgo-login-01
  'Match User git Address 129.177.6.133':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:200:6::133':
    AuthenticationMethods: 'publickey'
  # bgo-login-02
  'Match User git Address 158.39.74.246':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:2:83ff::8':
    AuthenticationMethods: 'publickey'
  # osl-login-01
  'Match User git Address 129.240.224.100':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:100:8241::100':
    AuthenticationMethods: 'publickey'
  # osl-login-02
  'Match User git Address 158.39.75.246':
    AuthenticationMethods: 'publickey'
  'Match User git Address 2001:700:2:82ff::8':
    AuthenticationMethods: 'publickey'
  # internal mgmt network osl
  'Match User git Address 172.16.32.0/21':
    AuthenticationMethods: 'publickey'
  # internal mgmt network test02
  'Match User git Address 172.28.32.0/24':
    AuthenticationMethods: 'publickey'
  # download/repo-server
  'Match User git Address 129.240.121.86':
    AuthenticationMethods: 'publickey'

profile::firewall::rules::manage_custom_rules: true
# Firewall rules allowing incoming DNS requests from test02 mgmt
profile::firewall::rules::custom_rules:
  '340 management dns accept tcp (test02)':
    proto:        'tcp'
    dport:        '53'
    extras:
      iniface:    "%{::interface_mgmt2}"
  '341 management dns accept tcp (test02)':
    proto:        'udp'
    dport:        '53'
    extras:
      iniface:    "%{::interface_mgmt2}"

