---
named_interfaces::config:
  mgmt:
    - em3
  transport:
    - team1
  trp:
    - team1
  ceph:
    - team1.110

profile::base::network::network_auto_opts:
  trp:
    'defroute': 'no'
    'devicetype': 'Team'
    'mtu': '9000'
    'team_config': >-
                   { "runner" : {  "name" : "lacp",  "active": true, "fast_rate" : true,
                   "tx_hash": ["eth", "ipv4", "ipv6"], "tx_balancer": { "name": "basic" } },
                   "link_watch" : {  "name" : "ethtool" } }
  ceph:
    'defroute': 'no'

profile::base::network::network_auto_bonding:
  trp:
    p6p1:
      'team_port_config': '{ "prio" : 100 }'
      'mtu': '9000'
    p6p2:
      'team_port_config': '{ "prio" : 100 }'
      'mtu': '9000'

profile::storage::cephosd::crush_parent:      'storage'
profile::storage::cephosd::crush_parent_type: 'pod'

# Ensure that the m.2 boot device is the last device
profile::base::physical::load_ahci_last:         true
profile::base::physical::load_ahci_last_scsidrv: 'megaraid_sas'

profile::storage::cephpool::manage_ec_pools: true
profile::storage::cephosd::crush_move:       true

profile::storage::cephclient::create_extraconf: true
profile::storage::ceph_extraconf::config:
  osd_memory_target:
    'config_key'  : "osd/osd_memory_target"
    'config_value': "10737418240"

profile::base::common::extraswap:         true
profile::base::common::extraswap_sizegb:  28
profile::base::common::extraswap_fileloc: '/var/lib/swap/swapfile'

profile::storage::ceph::pool::pools:
  'rbd':
    ensure: absent
  'volumes':
    size:    3
    tag:     'rbd'
    custom:
      crush_rule: 'hdd-storage'
      nodelete:   'true'
      min_size:   '2'
  'images':
    size:    3
    tag:    'rbd'
    custom:
      crush_rule: 'hdd-storage'
      nodelete:   'true'
      min_size:   '2'
  'vms':
    size:    3
    tag:     'rbd'
    custom:
      crush_rule: 'ssd-storage'
      nodelete:   'true'
      min_size:   '2'
  'volumes_hdd_ec_meta':
    size:    3
    tag:     'rbd'
    custom:
      crush_rule: 'nvme-storage'
      nodelete:   'true'
      min_size:   '2'
  'volumes_ssd_ec_meta':
    size:    3
    tag:     'rbd'
    custom:
      crush_rule: 'ssd-storage'
      nodelete:   'true'
      min_size:   '2'
  'cephfs_internal_meta':
    size:    3
    pg_num:  16
    custom:
      crush_rule: 'ssd-storage'
      nodelete:   'true'
      min_size:   '2'
  'cephfs_internal_data_default':
    size:    3
    pg_num:  16
    custom:
      crush_rule: 'ssd-storage'
      nodelete:   'true'
      min_size:   '2'
profile::storage::ceph::pool::ec_pools:
  'placeholder':
    manage: false

profile::storage::ceph_ecpool::ec_pools:
  'volumes_hdd_ec_data':
    manage:              true
    allow_ec_overwrites: true
    k_data:              "8"
    m_code:              "3"
    crush_device_class:  "hdd"
    crush_root:          "storage"
    plugin:              "jerasure"
    technique:           "reed_sol_van"
  'volumes_ssd_ec_data':
    manage:              true
    allow_ec_overwrites: true
    k_data:              "8"
    m_code:              "2"
    crush_device_class:  "ssd"
    crush_root:          "storage"
    plugin:              "jerasure"
    technique:           "reed_sol_van"
  'cephfs_internal_data_ec':
    manage:              true
    allow_ec_overwrites: true
    k_data:              "8"
    m_code:              "2"
    crush_root:          "storage"

profile::storage::cephpool_params::pools:
  'volumes_hdd_ec_data':
    application_enable: 'rbd'
    replicas_min_size:  '9'
  'volumes_ssd_ec_data':
    application_enable: 'rbd'
    replicas_min_size:  '9'
  'cephfs_internal_data_ec':
    replicas_min_size:  '9'

profile::base::lvm::volume_group:
  'vg_swap':
    physical_volumes:
      - /dev/sdq4
  'vg_nvme1':
    physical_volumes:
      - /dev/nvme0n1
profile::base::lvm::logical_volume:
  'lv_swap2':
    volume_group: 'vg_swap'
    fs_type:      xfs
    size:         35G
    mountpath:    "/var/lib/swap"
  'lv_dbh':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbi':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbj':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbk':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbl':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbm':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_dbn':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         32G
  'lv_nvmeosd':
    volume_group: 'vg_nvme1'
    createfs:     false
    size:         1200G
profile::base::lvm::physical_volume:
  '/dev/nvme0n1':
    ensure: present
    force:  true

profile::storage::cephosd::osds:
  '/dev/sda':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdb':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdc':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdd':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sde':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdf':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdg':
    wal_device: false
    db_device:  false
    disable_writecache: true
  '/dev/sdh':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbh'
  '/dev/sdi':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbi'
  '/dev/sdj':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbj'
  '/dev/sdk':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbk'
  '/dev/sdl':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbl'
  '/dev/sdm':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbm'
  '/dev/sdn':
    wal_device: false
    db_device:  'vg_nvme1/lv_dbn'
  '/dev/sdo':
    wal_device: false
    db_device:  false
  '/dev/sdp':
    wal_device: false
    db_device:  false
  '/dev/vg_nvme1/lv_nvmeosd':
    wal_device: false
    db_device:  false
    dev_class:  'nvme'
