---
# We use lagre iscsi disk for nfs
sensu__disk__warning:     82

profile::base::common::packages:
  'nfs-utils': {}

profile::openstack::volume::type:
  rbd:
    visibility: "public"
    properties:
      - 'volume_backend_name=rbd-volumes'
  nfs:
    visibility: "private"
    properties:
      - 'volume_backend_name=atlas-storage'
  mass-storage-arccache:
    visibility: "private"
    properties:
      - 'volume_backend_name=mass-storage-arccache'

# Use transport network for this (which has no DNS name)
profile::openstack::volume::backend::nfs:
  atlas-storage:
    nfs_servers: ["172.18.32.80:/opt/volumeshare"]

profile::openstack::volume::backend::rbd:
  rbd-volumes:
    rbd_pool: 'volumes'
    rbd_user: 'cinder'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      rbd-volumes/enable_deferred_deletion:
        value: 'True'
      rbd-volumes/rbd_exclusive_cinder_pool:
        value: 'True'
  mass-storage-arccache:
    rbd_pool: 'arccache_hdd_ec_meta'
    rbd_user: 'cinder-arccache-hdd-ec'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      mass-storage-arccache/enable_deferred_deletion:
        value: 'True'
      mass-storage-arccache/rbd_exclusive_cinder_pool:
        value: 'True'

cinder::api::default_volume_type: 'rbd'

cinder::backends::enabled_backends:
  - rbd-volumes
  - atlas-storage
  - mass-storage-arccache
