---
include:
  default:
    - profile::storage::cephmon
    - profile::storage::cephmon_firewall
  bootstrap:
    - profile::storage::cephmon_firewall

profile::storage::cephmon_firewall::manage_firewall:  true

profile::base::common::packages:
  'redhat-lsb-core': {}

accounts::users:
  'cinder':
    ensure: present
  'glance':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'
  'glance':
    - 'glance'

accounts::accounts:
  'cinder':
    ensure: present
  'glance':
    ensure: present

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  ceph-jewel:
    ensure: present
