---
include:
  default:
    - profile::storage::cephmon
    - profile::storage::cephmon_firewall
    - profile::monitoring::collectd
  bootstrap:
    - profile::storage::cephmon_firewall

# collectd
profile::monitoring::collectd::enable: true
collectd::plugin::ceph::daemons:
  - "ceph-mon.%{::hostname}"
  - "ceph-mgr.%{::hostname}"
collectd::plugin::processes::processes:
  - "ceph-mon"
  - "ceph-mgr"
collectd::plugin::interface::interfaces:
  - "%{::interface_trp1}"
  - "%{::interface_mgmt1}"
profile::monitoring::collectd::plugins:
  - collectd::plugin::cpu
  - collectd::plugin::load
  - collectd::plugin::memory
  - collectd::plugin::ceph
  - collectd::plugin::interface
  - collectd::plugin::processes
  - collectd::plugin::write_graphite

# ceph config keys
ceph::profile::params::mon_key:     "%{hiera('ceph_storage_client_mon_key')}"
ceph::profile::params::mgr_key:     "%{hiera('ceph_storage_client_mgr_key')}"
ceph::profile::params::fsid:        "%{hiera('ceph_storage_client_fsid')}"

profile::storage::cephmon_firewall::manage_firewall:            true
profile::storage::cephmon_firewall::manage_dashboard_firewall:  "%{hiera('profile::storage::cephmon::manage_dashboard')}"

profile::base::common::packages:
  'redhat-lsb-core': {}
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}
  'ceph-mgr-dashboard': {}

accounts::users:
  'cinder':
    ensure: present
  'glance':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'
  'glance':
    - 'glance'

accounts::accounts:
  'cinder':
    ensure: present
  'glance':
    ensure: present

# Sensu
profile::monitoring::sensu::agent::plugins:
  sensu-plugins-ceph:
    type:         package
    pkg_version:  '1.0.1'

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  ceph-%{hiera('ceph_version')}:
    ensure: present
  ceph-%{hiera('ceph_version')}-noarch:
    ensure: present
  collectd-5.8:
    ensure: present

# enable Ceph dashboard
profile::storage::cephmon::manage_dashboard:                    true
profile::storage::cephmon::dashboard_password:                  "%{hiera('ceph_storage_dashboard_password')}"

# Create crush buckets
profile::storage::cephmon::create_crushbuckets: true

profile::storage::ceph_crushbucket::buckets:
  'storage':
    bucket_type:   'pod'
    bucket_parent: 'default'
