---
include:
  default:
    - profile::openstack::compute::hypervisor
    - profile::openstack::volume
    - profile::openstack::network
    - nova::config
  bootstrap:
    - profile::base::lvm

openstack_extras::repo::redhat::redhat::manage_rdo: false
profile::base::common::manage_lvm: true

profile::openstack::network::l2_driver: calico
profile::base::common::common_packages:
  - python-etcd
  - python-posix-spawn

calico::compute: true
etcd::mode: 'proxy'

named_interfaces::config:
  mgmt:
    - em3

sudo::purge: false

accounts::users:
  'cinder':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'

accounts::accounts:
  'cinder':
    ensure: present

nova::config::nova_config:
  libvirt/images_type:
    value: lvm
  libvirt/images_volume_group:
    value: vg_ext
  libvirt/sparse_logical_volumes:
    value: true

volume_group:
  'vg_ext':
    physical_volumes:
      - '/dev/sda3'
