---
include:
  default:
    - profile::openstack::compute::hypervisor
    - profile::openstack::volume
    - profile::openstack::network
    - profile::logging::rsyslog::client
    - profile::openstack::openrc
  kickstart:
    - profile::base::lvm
    - profile::virtualization::nested
    - profile::network::yum_proxy
  bootstrap:
    - profile::base::lvm
    - profile::network::yum_proxy

openstack_version: 'mitaka'

# Because of this we cannot use syslog on master:
# https://bugs.launchpad.net/kolla/liberty/+bug/1516306
neutron::use_syslog:    true
neutron::log_facility:  'LOG_LOCAL5'

profile::network::yum_proxy::yum_proxy: "http://%{hiera('service__address__proxy')}:8888"

openstack_extras::repo::redhat::redhat::manage_rdo: false
profile::base::common::manage_lvm: true

profile::openstack::openrc::password:     "%{hiera('nova_api_password')}"
profile::openstack::openrc::username:     'nova'
profile::openstack::openrc::project_name: 'services'

dnsmasq::package_ensure: '2.72_calico1.0.0-1.el7'

profile::openstack::network::plugin: calico

profile::base::common::packages:
  'python-etcd': {}
  'posix-spawn': {}
  'networking-calico': {}
  'python-openstackclient': {}

calico::compute: true
etcd::mode: 'proxy'

named_interfaces::config:
  mgmt:
    - em3
  transport:
    - em1
    - em2
  service:
    - em1

sudo::purge: false

accounts::users:
  'cinder':
    ensure: present
  'glance':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'
  'glance':
    - 'glance'

accounts::accounts:
  'cinder':
    ensure: present
  'glance':
    ensure: present

profile::base::lvm::physical_volume:
  '/dev/sda3':
    ensure: present
    force:  true
profile::base::lvm::volume_group:
  'vg_ext':
    physical_volumes:
      - /dev/sda3
profile::base::lvm::logical_volume:
  'lv_instances':
    volume_group: 'vg_ext'
    fs_type:      "xfs"
    mountpath:    "/var/lib/nova/instances"

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present
  calico:
    ensure: present
  ceph:
    ensure: present
