---
include:
  default:
    - profile::openstack::compute::consoleproxy
    - profile::logging::rsyslog::client

profile::base::common::packages:
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}
  'openstack-selinux': {}

profile::base::network::manage_dummy:                       true
profile::openstack::compute::consoleproxy::manage_firewall: true
profile::openstack::compute::consoleproxy::spice:           true
profile::openstack::compute::consoleproxy::firewall_extras:
  source: "%{::network_trp1}/%{::netmask_trp1}"

nova::config::nova_config:
    DEFAULT/ssl_only:
      value: false

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present
