---
include:
  default:
    - profile::openstack::compute::consoleproxy
    - profile::openstack::compute::consoleauth
    - profile::logging::rsyslog::client

profile::base::common::packages:
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}
  'openstack-selinux': {}
  'centos-release-nfv-common': {}

profile::base::network::manage_dummy:                       true
profile::openstack::compute::consoleproxy::manage_firewall: true
profile::openstack::compute::consoleproxy::spice:           false
profile::openstack::compute::consoleproxy::firewall_extras:
  source: "%{::network_trp1}/%{::netmask_trp1}"

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present
  epel: # should be absent when using RDO, but whitelist can also work
    ensure:   present
    includepkgs: 'htop bash-completion-extras python2-bcrypt'
  CentOs-nfv-Openvswitch:
    ensure:  present
  AlmaLinux-PowerTools:
    ensure: present

openstack_version: 'wallaby'  # FIXME Remove when whole rig upgraded / Move to 'nova' module when compute is upgraded
