---
# Openstack databases
profile::openstack::database::sql::glance_enabled:    true
profile::openstack::database::sql::nova_enabled:      true
profile::openstack::database::sql::neutron_enabled:   true
profile::openstack::database::sql::cinder_enabled:    true
profile::openstack::database::sql::placement_enabled: true

profile::openstack::database::sql::extra_databases:
  horizon: # Session database
    password:       "%{hiera('horizon_db_password')}"
    user:           'horizon'
    host:           "%{hiera('netcfg_trp_netpart')}.51"
  horizon-mgmt: # Session database
    password:       "%{hiera('horizon_db_password')}"
    user:           'horizon'
    host:           "%{hiera('netcfg_trp_netpart')}.54"

# regional db has a couple of large db's, purge local copy more often
profile::database::mariadb::backuprotate:  2

wsrep_on:                                     'OFF'
wsrep_cluster_name:                           'regional'

profile::base::common::packages:
# For mysql/mariadb backup
   'bzip2':                  {}

# FIXME should not be needed with more resources!
sensu__load__check:       "check-load.rb -w 2.75,3.5,4.0 -c 3.5,5.0,4.5"
