---
include:
  default:
    - profile::openstack::database::sql
    - profile::monitoring::sensu::mysql
    - profile::logging::logrotate
    - profile::base::systemd

profile::base::systemd::manage_limits: true
profile::base::systemd::limits:
  mariadb:
    limits:
      Service:
        'LimitNOFILE': 262689

profile::base::common::packages:
  'MySQL-python':           {}
  'bash-completion':        {}
  'bash-completion-extras': {}
  'mysqltuner':             {}

# Sensu
profile::monitoring::sensu::mysql::password:  "%{hiera('sensu_mysql_password')}"
profile::monitoring::sensu::mysql::manage_packages: true

profile::monitoring::sensu::agent::plugins:
  sensu-plugins-mysql:
    type:         package
    pkg_version:  '2.3.0'

profile::monitoring::sensu::agent::checks:
  'metrics-mysql-graphite':
    type:         'metric'
    command:      'metrics-mysql-graphite.rb --scheme mysql.%{::hostname} -h localhost -S /var/lib/mysql/mysql.sock --ini /etc/sensu/conf.d/mysql.ini'
    interval:     60
    subscribers:  ['metrics']
    handlers:     ['graphite_tcp']
  'check-mysql-alive':
    command:      'check-mysql-alive.rb -h localhost -s /var/lib/mysql/mysql.sock --ini /etc/sensu/conf.d/mysql.ini'
    interval:     60
    subscribers:  ['checks']

# Logrotate
profile::logging::logrotate::manage_logrotate:   true
logrotate::rules:
  mysql:
    path:           '/var/log/mysqld.log'
    rotate:         14
    postrotate: >-
      if test -x /usr/bin/mysqladmin && /usr/bin/mysqladmin ping &>/dev/null; then
            /usr/bin/mysqladmin --local flush-error-log flush-engine-log flush-general-log flush-slow-log
          fi
    sharedscripts:  true
    copytruncate:   true
    missingok:      true
    rotate_every:   daily
    compress:       true


# Enable MariaDB yum repository
profile::base::yumrepo::repo_hash:
  "mariadb-%{hiera('mariadb_version')}":
    ensure:     present

# For backup script creation
profile::database::mariadb::backupuser:                   'root'
profile::database::mariadb::backuppassword_unsensitive:   "%{hiera('mysql::server::root_password')}"
profile::database::mariadb::postscript:                   "date >  %{hiera('profile::database::mariadb::backuptopdir')}/$(hostname)-backupflag"
profile::database::mariadb::file_per_database:            true
profile::database::mariadb::maxallowedpacket:             4096
