---
include:
  default:
    - profile::openstack::designate
    - profile::openstack::cache
    - profile::logging::rsyslog::client
    - profile::openstack::openrc
    - profile::dns::rndc_key

openstack_version: 'xena'

# WSGI config
# https://github.com/openstack/puppet-designate/blob/unmaintained/xena/manifests/wsgi/apache.pp
designate::wsgi::apache::servername: fqdn
designate::wsgi::apache::port: 9001
designate::wsgi::apache::bind_host: foo
designate::wsgi::apache::path: /
designate::wsgi::apache::ssl: false
designate::wsgi::apache::workers: 
designate::wsgi::apache::: foo
designate::wsgi::apache::: foo
designate::wsgi::apache::: foo

profile::network::interface::manage_dummy:         true
profile::network::interface::create_custom_routes: true
profile::base::network::manage_dummy:        true # FIXME; remove when el7 is gone

profile::dns::rndc_key::create_admin_key:    false
profile::dns::rndc_key::create_mdns_key:     true
profile::dns::rndc_key::host_is_bind_server: false

# Username and password for the designate service
profile::openstack::openrc::password:     "%{hiera('designate_api_password')}"
profile::openstack::openrc::username:     'designate'
profile::openstack::openrc::project_name: 'services'

# Set SELinux enforcing
profile::base::selinux::manage_selinux: true

# Designate pools.yaml definitions
profile::openstack::designate::bind_servers:
  'default':
    ns_rndc_addr:    "%{hiera('service__address__ns')}"
    ns_public_addr:  "%{hiera('public__ip__ns')}"
    ns_public_name:  "%{hiera('public__name__ns')}"
    mdns_addr:
      - "%{hiera('service__address__mdns_01')}"

# Firewall configuration
profile::openstack::designate::manage_firewall: true
profile::openstack::designate::ns_sources_ipv4:
  - "%{hiera('service__address__ns')}"

# Some extra packages we want installed
profile::base::common::packages:
  'python2-openstackclient': {} # FIXME: remove when el7 is gone
  'python3-openstackclient': {}
  'python2-designateclient': {} # FIXME: remove when el7 is gone
  'python3-designateclient': {}
  'openstack-utils': {}
  'openstack-selinux': {}
  'patch': {}

# Don't purge sudo stuff
sudo::purge: false

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present
  epel: # should be absent when using RDO, but whitelist can also work
    ensure:   present
    includepkgs: 'htop'
    #includepkgs: 'htop python3-importlib-metadata python3-amqp python3-colorama python3-contextlib2 python3-eventlet python3-fasteners python3-jeepney python3-keyring python3-kombu python3-logutils python3-migrate python3-monotonic python3-msgpack python3-pecan python3-pyrsistent python3-qpid-proton python3-redis python3-repoze-lru python3-rfc3986 python3-routes python3-secretstorage python3-simplegeneric python3-simplejson python3-singledispatch python3-vine python3-wcwidth python3-wrapt python3-zipp qpid-proton-c'

# Make sure that memcached doesn't too much memory
memcached::max_memory: '20%'
