---
include:
  default:
    - profile::openstack::identity
    - profile::openstack::resource::imagebuilder
    - profile::openstack::resource::dataporten
    - profile::openstack::resource::users
    - profile::openstack::openrc
    - profile::application::himlarcli
    - profile::logging::rsyslog::client

profile::base::common::packages:
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}

profile::base::selinux::manage_selinux:                   false
#profile::openstack::identity::manage_token_rotate:        true
profile::openstack::identity::disable_admin_token_auth:   true
profile::openstack::identity::manage_openidc:             true
profile::openstack::identity::trusted_dashboard:          "https://%{hiera('public__address__dashboard')}/dashboard/auth/websso/"
profile::openstack::identity::roles_extra:
  - user
  - superuser
profile::openstack::identity::keystone_config:
  'resource/project_name_url_safe':
    value:  'new'
  'resource/domain_name_url_safe':
    value:  'new'
  'cors/allowed_origin': # allow gnocchi access on monitor
    value:  "http://%{hiera('mgmt__address__monitor')}:8080"

profile::openstack::openrc::filename:                       '/root/keystonerc_admin'

profile::openstack::resource::imagebuilder::manage:         true
profile::openstack::resource::imagebuilder::password:       "%{hiera('imagebuilder_password')}"

profile::openstack::resource::dataporten::manage_dataporten: true
profile::openstack::resource::dataporten::domain:
  dataporten:
    ensure:       present
    description:  'Federated users from Dataporten'
    is_default:   false
profile::openstack::resource::dataporten::identity_provider:
  dataporten:
    enabled:      true
    remote_ids:   [ 'https://auth.dataporten.no' ]
    description:  'Federated user from Dataporten'

# Custom users
profile::openstack::resource::users::users:
  status:
    enabled:  true
    email:    'status@localhost'
    password: "%{hiera('status_metric_password')}"
  monitor:
    enabled:  true
    email:    'monitor@localhost'
    password: "%{hiera('monitor_metric_password')}"
profile::openstack::resource::users::user_roles:
  'status@services':
    roles:    'user'
  'monitor@services':
    roles:    'user'

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present

profile::base::selinux::boolean:
  'httpd_can_network_connect':
    ensure: 'on'
    persistent: true
  'httpd_can_network_connect_db':
    ensure: 'on'
    persistent: true
  'httpd_use_openstack':
    ensure: 'on'
    persistent: true
