---
include:
  default:
    - profile::network::leaf
    - profile::base::common
  bootstrap:
    - profile::base::common

profile::base::common::classes:
  - puppet
  - openstack_extras::repo::debian::debian

profile::base::common::manage_keyboard:           false
profile::base::common::include_virtual:           false
profile::base::common::include_physical:          false
profile::base::common::manage_yumrepo:            false
profile::base::firewall::manage_firewall:         false
profile::base::network::net_ifnames:              false
profile::monitoring::sensu::agent::enable_agent:  false
profile::network::leaf::manage_quagga:            true
profile::network::leaf::manage_acls:              true
profile::base::network::cumulus_ifs:              true
network::config_file_per_interface:               true

quagga::zebra:              true
quagga::bgpd:               true
quagga::single_config_file: true
quagga::quagga::hostname:   'cumulus-test'
quagga::quagga::password:   'pass123'
quagga::quagga::bgp_as:     "%{hiera('bgp_as')}"

profile::network::leaf::acls:
  '02control_plane_custom.rules':
    rule_vars:
      - "INGRESS_CHAIN = INPUT"
      - "INGRESS_INTF = swp+"
    iptables:
      - "-A $INGRESS_CHAIN -s %{hiera('netcfg_trp_netpart')}.0/%{hiera('netcfg_trp_netmask')} -p tcp --dport 179 -j ACCEPT"
      - "-A $INGRESS_CHAIN -p tcp --dport 179 -j DROP"
      - "-A $INGRESS_CHAIN -s %{hiera('netcfg_mgmt_netpart')}.0/%{hiera('netcfg_mgmt_netmask')} -p tcp --dport 22 -j ACCEPT"
      - "-A $INGRESS_CHAIN -s %{hiera('netcfg_trp_netpart')}.0/%{hiera('netcfg_trp_netmask')} -p tcp --dport 22 -j ACCEPT"
      - "-A $INGRESS_CHAIN -p tcp --dport 22 -j DROP"
    ip6tables:
      - "-A $INGRESS_CHAIN --in-interface $INGRESS_INTF -s %{hiera('netcfg_trp_netpart6')}::/%{hiera('netcfg_trp_netmask6')} -p tcp -m multiport --dports 22,179 -j ACCEPT"
      - "-A $INGRESS_CHAIN --in-interface $INGRESS_INTF -p tcp  -m multiport --dports 22,179 -j DROP"

accounts::groups:
  'wheel':
    ensure: 'present'

openstack_extras::repo::debian::debian::package_require: true
openstack_extras::repo::debian::debian::manage_uca: false
openstack_extras::repo::debian::debian::manage_whz: false
openstack_extras::repo::debian::debian::source_hash:
  'wheezy':
    'location': 'http://ftp.us.debian.org/debian/'
    'repos':    'main contrib non-free'
  'uh-iaas':
    'location': 'https://download.iaas.uio.no/uh-iaas/aptrepo/'
    'repos':    'main'

profile::base::common::packages:
  'vim-enhanced': { 'ensure': 'absent', }
  'bind-utils': { 'ensure': 'absent', }
  'libaugeas-ruby1.9.1': {}
  'augeas-tools': {}
  'cl-mgmtvrf': {}
  'python-apt': {}

sudo::configs:
  snmp:
    content:
      - '# SNMP needs access to the bcmcmd to serve up some of the MIBs.'
      - 'snmp ALL = NOPASSWD: /usr/lib/cumulus/bcmcmd'
      - 'snmp ALL = NOPASSWD: /usr/cumulus/bin/cl-resource-query'
      - 'snmp ALL=(root) NOPASSWD: /sbin/ethtool -S *'
      - 'snmp ALL=(root) NOPASSWD: /sbin/ip'

profile::base::network::cumulus_interfaces:
  'lo':
    'addr_method': 'loopback'
