---
include:
  default:
    - profile::logging::rsyslog::server
    - profile::logging::logstash
    - profile::logging::elasticsearch
    - profile::logging::kibana
    - profile::logging::logrotate

profile::base::selinux::manage_selinux:   true

# This is needed if we run selinux on logger
profile::base::selinux::fcontext:
  rsyslog_log:
    seltype:  'var_log_t'
    seluser:  'system_u'
    pathspec: '/opt/log(/.*)?'
    notify:   Exec[selinux::exec_restorecon /opt/log]
profile::base::selinux::exec_restorecon:
  rsyslog_log:
    path:         '/opt/log'

named_interfaces::config:
  mgmt:
    - eth0

# packages
profile::base::common::packages:
  'java-1.8.0-openjdk':     {}
  'elasticsearch-curator':  {}
  'bash-completion':        {}
  'bash-completion-extras': {}

# elasticsearch
profile::logging::elasticsearch::manage_curator:  true
profile::logging::elasticsearch::instances:
  'openstack':
    datadir:  '/opt/els/openstack'
    config:
      'cluster.name':             "logger"
      'network.host':             "127.0.0.1"
      'node.name':                "%{::hostname}"

profile::logging::elasticsearch::templates:
  'logstash':
    'content':
        index_patterns: ['logstash-*']
        settings:
            'number_of_replicas': '0'
            'number_of_shards':   '1'

# logstash
profile::logging::logstash::config_files:
  00-input:
    source: 'puppet:///modules/profile/logging/logstash/conf.d/input.conf'
  01-norcams: # everything in syslog local6
    source: 'puppet:///modules/profile/logging/logstash/conf.d/norcams.conf'
  02-openstack: #everything in syslog local0-local5
    source: 'puppet:///modules/profile/logging/logstash/conf.d/openstack.conf'
  03-syslog: # everything else in syslog
    source: 'puppet:///modules/profile/logging/logstash/conf.d/syslog.conf'
  99-output:
    source: 'puppet:///modules/profile/logging/logstash/conf.d/output.conf'

# disks
profile::base::lvm::physical_volume:
  '/dev/vdb':
    ensure: present
    force:  true
profile::base::lvm::volume_group:
  'vg_log':
    physical_volumes:
      - /dev/vdb
profile::base::lvm::logical_volume:
  'lv_log':
    volume_group: 'vg_log'
    fs_type:      "xfs"
    mountpath:    "/opt/log"
    size:         '20G'
  'lv_els':
    volume_group: 'vg_log'
    fs_type:      "xfs"
    mountpath:    "/opt/els"

# logrotate
profile::logging::logrotate::manage_logrotate:    true

logrotate::rules:
  openstack:
    path:           '/opt/log/*.log'
    rotate:         7
    postrotate:     '/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true'
    sharedscripts:  true
    missingok:      true
    rotate_every:   daily
    compress:       true
  messages:
    path:           '/opt/log/*/messages'
    rotate:         7
    postrotate:     '/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true'
    sharedscripts:  true
    missingok:      true
    rotate_every:   daily
    compress:       true
  syslog:
    path:           ['/var/log/cron', '/var/log/maillog', '/var/log/messages', '/var/log/secure', '/var/log/spooler']
    rotate:         10
    rotate_every:   daily
    postrotate:     ['/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true', '/bin/kill -HUP `cat /var/run/rsyslogd.pid 2> /dev/null` 2> /dev/null || true']
    dateext:        true
    sharedscripts:  true
    missingok:      true
    compress:       true

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  elk6:
    ensure: present
  curator5:
    ensure: present

#cronjob to purge elasticsearch
profile::base::common::manage_cron:  true
profile::base::cron::crontabs:
  purge_elasticsearch:
    ensure:   present
    command:  'curator /var/lib/delete_indices.yml'
    weekday:  '*'
    hour:     '6'
    minute:   '30'
