---
include:
  default:

    - profile::openstack::novactrl
    - profile::logging::rsyslog::client
    - profile::openstack::openrc
    - profile::openstack::resource::host_aggregate
    - profile::openstack::cache
    - profile::webserver::apache::status
#    - profile::openstack::compute::placement # FIXME: remove after upgrade

openstack_version: 'zed'

profile::base::selinux::manage_selinux:             true
profile::openstack::novactrl::manage_firewall:      true
profile::openstack::novactrl::enable_api:           true
profile::openstack::novactrl::enable_conductor:     true
profile::openstack::novactrl::enable_scheduler:     true
profile::openstack::novactrl::manage_az:            true
profile::openstack::novactrl::manage_cells:         true
profile::openstack::novactrl::manage_nova_config:   true

profile::openstack::openrc::interface:    'internal'
profile::openstack::openrc::password:     "%{hiera('nova_api_password')}"
profile::openstack::openrc::username:     'nova'
profile::openstack::openrc::project_name: 'services'

profile::openstack::novactrl::firewall_extras:
  source: "%{::network_trp1}/%{::netmask_trp1}"

profile::base::common::packages:
  # we need newer version of six to avoid breaking requests and openstack cli
  'python3-six.noarch': { ensure: latest }
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}
  'openstack-selinux': {}
  'python-memcached': {}
  'libibverbs': {} # not needed but avoid console complaints
  'rdma': {} # not needed but avoid console complaints
  'MariaDB-client': {}
  'nrec-selinux': {}
  'python3-openstackclient': {}

# apache httpd
# this should be fine for 4 GB RAM
apache::mod::prefork::serverlimit:        1024
apache::mod::prefork::maxrequestworkers:  1024

# FIXME:sensu-go
profile::monitoring::sensu::agent::enable_go_agent:   true
profile::monitoring::sensu::agent::enable_agent:      false

# Sensu
profile::webserver::apache::status::manage_status: true
sensu::agent::subscriptions:
  - 'base'
  - 'nodes'
  - 'metrics'

# FIXME:sensu-go fix old metric
# profile::monitoring::sensu::agent::checks:
#   'metrics-httpd-overview':
#     type:         'metric'
#     command:      "metrics-apache-graphite.rb --scheme httpd.%{::hostname} -h 127.0.0.1"
#     interval:     60
#     subscribers:  ['metrics']
#     handlers:     ['graphite_tcp']

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure: present
    exclude:  'mariadb*'
  "mariadb-%{hiera('mariadb_version')}":
    ensure:     present
  AlmaLinux-PowerTools:
    ensure: present
  epel: # should be absent when using RDO, but whitelist can also work
    ensure: present
    includepkgs: 'htop bash-completion-extras python2-bcrypt'
  CentOs-nfv-Openvswitch:
    ensure: present

memcached::max_memory: '20%'

# This creates /etc/openstack/puppet/admin-clouds.yaml
keystone::bootstrap::bootstrap:        false
keystone::bootstrap::manage_resources: false
keystone::bootstrap::username:         'nova'
keystone::bootstrap::password:         "%{hiera('nova_api_password')}"
keystone::bootstrap::project_name:     "%{hiera('keystone__service__project')}"
keystone::bootstrap::internal_url:     "%{hiera('endpoint__identity__internal')}"
keystone::bootstrap::region:           "%{location}"
keystone::bootstrap::interface:        'internal'
