---
include:
  default:
    - profile::dns::ns
    - profile::dns::rndc_key
    - profile::logging::rsyslog::client

named_interfaces::config:
  mgmt:
    - eth0
  trp:
    - eth1
  public:
    - dummy0

profile::dns::rndc_key::create_admin_key:         true
profile::dns::rndc_key::create_mdns_key:          true
profile::dns::rndc_key::create_cert_key:          true
profile::dns::rndc_key::host_is_bind_server:      true

# Authoritative name servers must have a public interface
# FIXME: When all envs switched to EL8 :
#        - Remove first line
#        - Activcate second and third
profile::base::network::manage_dummy: true
#profile::network::interface::manage_dummy: true
#profile::network::interface::create_custom_routes: true

# Name servers in zone file
profile::dns::ns::ns_master: "%{hiera('public__name__ns')}"

# Public and internal zones
profile::dns::ns::internal_zone: "%{hiera('domain_trp')}"
profile::dns::ns::public_zone:   "%{hiera('domain_public')}"

# This is the authoritative name server
profile::dns::ns::authoritative: true

# Our hostmaster email address (in zone file)
profile::dns::ns::hostmaster: "support.%{hiera('domain_frontend')}"

# DNS server addresses (used by file templates)
profile::dns::ns::mdns_transport_addr:
  - "%{hiera('service__address__mdns_01')}"
#  - "%{hiera('service__address__mdns_02')}"
#  - "%{hiera('service__address__mdns_03')}"
profile::dns::ns::admin_mgmt_addr:          "%{hiera('netcfg_mgmt_netpart')}.11"
profile::dns::ns::login_mgmt_addr:          "%{hiera('netcfg_mgmt_netpart')}.10"
profile::dns::ns::ns_mgmt_addr:             "%{hiera('netcfg_mgmt_netpart')}.16"
profile::dns::ns::resolver1_mgmt_addr:      "%{hiera('netcfg_mgmt_netpart')}.17"
profile::dns::ns::resolver2_mgmt_addr:      "%{hiera('netcfg_mgmt_netpart')}.18"
profile::dns::ns::ns_transport_addr:        "%{hiera('service__address__ns')}"
profile::dns::ns::resolver1_transport_addr: "%{hiera('service__address__resolver_01')}"
profile::dns::ns::resolver2_transport_addr: "%{hiera('service__address__resolver_02')}"
profile::dns::ns::ns_public_addr:           "%{hiera('public__ip__ns')}"
profile::dns::ns::ns_public6_addr:          "%{hiera('public__ipv6__ns')}"
profile::dns::ns::resolver1_public_addr:    "%{hiera('public__ip__resolver')}"
profile::dns::ns::resolver1_public6_addr:   "%{hiera('public__ipv6__resolver')}"

# Forward zones, for which the name server is authoritative
profile::dns::ns::fw_zones:
  internal:
    zone: "%{hiera('profile::dns::ns::internal_zone')}"
    filename: "pz/%{hiera('profile::dns::ns::internal_zone')}"
    ns_slave_ip_addresses:
      - "%{hiera('netcfg_mgmt_net_c0')}.44"
      - "%{hiera('netcfg_mgmt_net_c0')}.45"
  public:
    zone:     "%{hiera('profile::dns::ns::public_zone')}"
    filename: "pz/%{hiera('profile::dns::ns::public_zone')}"
    ns_a_records:
      'ns': "%{hiera('public__ip__ns')}"
    ns_aaaa_records:
      'ns': "%{hiera('public__ipv6__ns')}"
    ns_slave_ip_addresses:
      - "%{hiera('netcfg_mgmt_net_c0')}.44"
      - "%{hiera('netcfg_mgmt_net_c0')}.45"
  public2:
    zone: "%{hiera('profile::dns::ns::public_zone2')}"
    filename: "pz/%{hiera('profile::dns::ns::public_zone2')}"
#    delegations:
#      'customer':
#        - 'ns1.uh-iaas.no'
#        - 'ns2.uh-iaas.no'


# Define an ACL for networks allowed to do complete zone transfer
profile::dns::ns::allowed_transfer_nets:
  - '172.16.0.0/12;         # rfc1918: 20-bit block (internal)'
  - '158.37.63.251;         # ns1 IPv4 (OSL)'
  - '158.39.77.251;         # ns2 IPv4 (BGO)'
  - '158.37.63.252;         # resolver.osl IPv4 (OSL)'
  - '158.39.77.252;         # resolver.bgo IPv4 (BGO)'
  - '2001:700:2:82ff::251;  # ns1 IPv6 (OSL)'
  - '2001:700:2:83ff::251;  # ns2 IPv6 (BGO)'
  - '2001:700:2:82ff::252;  # resolver.osl IPv6 (OSL)'
  - '2001:700:2:83ff::252;  # resolver.bgo IPv6 (BGO)'

# DNS server firewall configuration
profile::dns::ns::manage_firewall: true
profile::dns::ns::rndc_sources_ipv4:
  - "%{::network_trp1}/%{::netmask_trp1}"

# Turn on SELinux
profile::base::selinux::manage_selinux: true

# Turn on the "named_write_master_zones" SELinux boolean
profile::base::selinux::boolean:
  'named_write_master_zones':
    ensure: 'on'
    persistent: true

# local config due to query log suppression (local6)
profile::logging::rsyslog::client::legacy_config:
  log_everything_to_remote_server:
    key:    '*.*'
    value:  " @%{hiera('mgmt__address__logger')}:514;RSYSLOG_ForwardFormat"
  do_not_log_private_auth_msg:
    key:    '*.info;mail.none;authpriv.none;cron.none;local6.none'
    value:  '/var/log/messages'
  auth_priv_log:
    key:    'authpriv.*'
    value:  '/var/log/secure'
  mail_log:
    key:    'mail.*'
    value:  '-/var/log/maillog'
  cron_log:
    key:    'cron.*'
    value:  '/var/log/cron'
  emerg_log:
    key:    '*.emerg'
    value:  ':omusrmsg:*'
  news_log:
    key:    'uucp,news.crit'
    value:  '/var/log/spooler'
  local_log:
    key:    'local7.*'
    value:  '/var/log/boot.log'
