---
include:
  default:
    - profile::dns::ns
    - profile::logging::rsyslog::client
# Do not enable following line until every environment is set up to log to UiO ELK
#    - profile::logging::filebeat

named_interfaces::config:
  mgmt:
    - eth0
  trp:
    - eth1
  public:
    - dummy0

# This is the resolving name server
profile::dns::ns::authoritative: false

profile::network::interface::manage_dummy: true
profile::base::network::manage_dummy: true # FIXME; remove when el7 is gone
profile::base::common::manage_cron:   true # FIXME; remove when el7 is gone

# DNS server addresses (used by file templates)
profile::dns::ns::admin_mgmt_addr:          "%{hiera('netcfg_mgmt_netpart')}.11"
profile::dns::ns::ns_mgmt_addr:             "%{hiera('netcfg_mgmt_netpart')}.16"
profile::dns::ns::resolver1_mgmt_addr:      "%{hiera('netcfg_mgmt_netpart')}.17"
profile::dns::ns::resolver2_mgmt_addr:      "%{hiera('netcfg_mgmt_netpart')}.18"
profile::dns::ns::ns_transport_addr:        "%{hiera('service__address__ns')}"
profile::dns::ns::resolver1_transport_addr: "%{hiera('service__address__resolver_01')}"
profile::dns::ns::resolver2_transport_addr: "%{hiera('service__address__resolver_02')}"
profile::dns::ns::ns_public_addr:           "%{hiera('public__ip__ns')}"
profile::dns::ns::ns_public6_addr:          "%{hiera('public__ipv6__ns')}"
profile::dns::ns::resolver1_public_addr:    "%{hiera('public__ip__resolver')}"
profile::dns::ns::resolver1_public6_addr:   "%{hiera('public__ipv6__resolver')}"

# Forward zones. Only zones that are "internal". Requests for records
# in these zones will be forwarded to the authoritative DNS server
profile::dns::ns::fw_zones:
  frontend:
    zone: "%{hiera('profile::dns::ns::frontend_zone')}"
# Disable forwarding of uhdc.no to non recursing name servers,
# as parts of udc.no is externally delegated and  will thus
# render SERVFAIL replies
#  uhdc:
#    zone: 'uhdc.no'


# DNS zones where resolvers act as slaves everywhere
profile::dns::ns::fw_slave_zones:
  internal:
    zone: "%{hiera('profile::dns::ns::internal_zone')}"
    filename: "sz/%{hiera('profile::dns::ns::internal_zone')}"
    ns_master_ip_addresses:
      - "%{hiera('public__ip__ns')}"
  public:
    zone: "%{hiera('profile::dns::ns::public_zone')}"
    filename: "sz/%{hiera('profile::dns::ns::public_zone')}"
    ns_master_ip_addresses:
      - "%{hiera('public__ip__ns')}"

# DNS server firewall configuration
profile::dns::ns::manage_firewall: true
profile::dns::ns::firewall_extras:
  source: "%{::network_trp1}/%{::netmask_trp1}"

# Turn on SELinux
profile::base::selinux::manage_selinux: true

profile::dns::ns::allowed_nets:
  - '172.16.0.0/12;         # internal rfc1918'
  - '192.168.0.0/16;        # vagrant and localXY public (rfc1918)'

# For anycast
profile::dns::ns::enable_bird:           true
profile::dns::ns::manage_bird_firewall:  true
profile::dns::ns::enable_bird6:          true
profile::dns::ns::manage_bird6_firewall: true
profile::dns::ns::check_named_health:    true

profile::base::network::routes:
  'eth1':
    'ipaddress': [ '0.0.0.0', ]
    'netmask':   [ '0.0.0.0', ]
    'gateway':   [ "%{hiera('netcfg_trp_gateway')}", ]
    'table':     [ 'anycast_return', ]
profile::base::network::routing_tables:
  'anycast_return':
    'table_id':  '250'
profile::base::network::rules:
  'dummy0':
    iprule: [ "from %{hiera('netcfg_anycast_dns')} lookup anycast_return", ]

# local config due to query log suppression (local6)
profile::logging::rsyslog::client::legacy_config:
  log_everything_to_remote_server:
    key:    '*.*'
    value:  " @%{hiera('mgmt__address__logger')}:514;RSYSLOG_ForwardFormat"
  do_not_log_private_auth_msg:
    key:    '*.info;mail.none;authpriv.none;cron.none;local6.none'
    value:  '/var/log/messages'
  auth_priv_log:
    key:    'authpriv.*'
    value:  '/var/log/secure'
  mail_log:
    key:    'mail.*'
    value:  '-/var/log/maillog'
  cron_log:
    key:    'cron.*'
    value:  '/var/log/cron'
  emerg_log:
    key:    '*.emerg'
    value:  ':omusrmsg:*'
  news_log:
    key:    'uucp,news.crit'
    value:  '/var/log/spooler'
  local_log:
    key:    'local7.*'
    value:  '/var/log/boot.log'

# filebeat for query logging to UiO ELK

profile::logging::filebeat::manage_filebeat: true

profile::base::yumrepo::repo_hash:
  elk6:
    ensure: present

profile::base::common::packages:
  'filebeat': {}

profile::logging::filebeat::inputs:
  'querylog':
    log:  '/var/named/data/querylog'
    logowner: 'usit-hostmaster'
    application: 'dns-resolv'
    log_type: 'dns-resolv'
    data_processor: 'usit-hostmaster-processor'
    tags: 'nrec-dns'


profile::logging::filebeat::outputs:
  logstash:
    'hosts': [ 'log-receiver.uio.no:5044' ]
    'ssl':
      'verification_mode':        full
      'certificate_authorities': ['/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem']
      'certificate':              "/etc/pki/tls/certs/%{::fqdn}.cert.pem"
      'key':                      "/etc/pki/tls/private/%{::fqdn}.key.pem"

