---
include:
  default:
    - profile::storage::cephosd
    - profile::storage::cephpool
    - profile::storage::cephfs
    - profile::storage::cephosd_firewall
    - profile::base::lvm
  kickstart:
    - profile::base::lvm
  bootstrap:
    - profile::base::lvm
    - profile::storage::cephosd_firewall

ceph::profile::params::fsid: "%{hiera('ceph_storage_client_fsid')}"

profile::base::manage_lvm:                           true

profile::storage::cephosd_firewall::manage_firewall: true

profile::base::common::packages:
  'redhat-lsb-core': {}
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}

accounts::users:
  'cinder':
    ensure: present
  'glance':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'
  'glance':
    - 'glance'

accounts::accounts:
  'cinder':
    ensure: present
  'glance':
    ensure: present

ceph::profile::params::osd_journal_size: '10240'

profile::storage::cephosd::create_osds: true
profile::storage::cephosd::crush_move:  true

profile::storage::cephpool::manage_ec_pools: false

profile::storage::ceph_ecpool::ec_pools:
  'volumes_hdd_ec_data':
    pg_num:              "512"
    manage:              true
    allow_ec_overwrites: true
    k_data:              "3"
    m_code:              "2"
    crush_root:          "storage"
profile::storage::cephpool::pools:
  'rbd':
    ensure: absent
  'volumes':
    ensure: present
    pg_num: 2048
    pgp_num: 2048
  'images':
    ensure: present
    pg_num: 512
    pgp_num: 512
  'vms':
    ensure: present
    pg_num: 256
    pgp_num: 256
  'volumes_hdd_ec_meta':
    ensure: present
    pg_num: 256
    pgp_num: 256
profile::storage::cephpool_params::pools:
  'volumes':
    replicas_min_size:  3
    crush_rule:         "hdd-storage"
  'images':
    replicas_min_size:  3
    crush_rule:         "hdd-storage"
  'vms':
    replicas_min_size:  3
    crush_rule:         "ssd-storage"
  'volumes_hdd_ec_meta':
    replicas_min_size:  3
    crush_rule:         "ssd-storage"
    application_enable: 'rbd'
  'volumes_hdd_ec_data':
    application_enable: 'rbd'

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  ceph-%{hiera('ceph_version')}:
    ensure: present

profile::storage::ceph_crushrules::rules:
  'hdd-storage':
    rule_device_type: "hdd"
    rule_root:        "storage"
  'ssd-storage':
    rule_device_type: "sdd"
    rule_root:        "storage"

# Default values
profile::storage::cephosd::crush_parent:      'storage'
profile::storage::cephosd::crush_parent_type: 'pod'

# SNMP only from mgmt
profile::base::dell::snmp_firewall_settings:
  source: "%{::network_mgmt1}/%{::netmask_mgmt1}"

sudo::configs:
  sensu_tty:
    priority: 20
    content:  'Defaults:sensu !requiretty'
  sensu:
    priority: 25
    content:  'sensu ALL=(ALL) NOPASSWD: /opt/sensu/embedded/bin/check-ceph.rb'

check_ceph_argument:    ''

profile::monitoring::sensu::agent::checks:
  'check-ceph':
    command:      "/usr/bin/sudo /opt/sensu/embedded/bin/check-ceph.rb %{hiera('check_ceph_argument')}"
    interval:     60
    subscribers:  ['checks']

profile::monitoring::sensu::agent::plugin_gems:
  sensu-plugins-himlar:
    ensure:   '0.3.0'
    provider: 'sensu_gem'
    source:   'http://download.iaas.uio.no/uh-iaas/gem'
