---
include:
  default:
    - profile::storage::cephosd
    - profile::storage::cephpool
    - profile::storage::cephosd_firewall
    - profile::base::lvm
  kickstart:
    - profile::base::lvm
  bootstrap:
    - profile::base::lvm
    - profile::storage::cephosd_firewall

profile::base::manage_lvm:                           true

profile::storage::cephosd_firewall::manage_firewall: true

profile::base::common::packages:
  'redhat-lsb-core': {}
  'bash-completion': {}
  'bash-completion-extras': {}
  'jq': {}

accounts::users:
  'cinder':
    ensure: present
  'glance':
    ensure: present

accounts::usergroups:
  'cinder':
    - 'cinder'
  'glance':
    - 'glance'

accounts::accounts:
  'cinder':
    ensure: present
  'glance':
    ensure: present

ceph::profile::params::osd_journal_size: '10240'

profile::storage::cephpool::pools:
  'rbd':
    ensure: absent
  'volumes':
    ensure: present
    pg_num: 2048
    pgp_num: 2048
  'images':
    ensure: present
    pg_num: 512
    pgp_num: 512
  'vms':
    ensure: present
    pg_num: 1024
    pgp_num: 1024

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  ceph-%{hiera('ceph_version')}:
    ensure: present
