---
include:
  default:
    - profile::openstack::openrc
    - profile::openstack::cache
    - profile::openstack::telemetry

openstack_version: 'zed'

# Memcache
memcached::max_memory: '20%'

# This creates /etc/openstack/puppet/admin-clouds.yaml
keystone::bootstrap::bootstrap:        false
keystone::bootstrap::manage_resources: false
keystone::bootstrap::username:         'ceilometer'
keystone::bootstrap::password:         "%{hiera('ceilometer_api_password')}"
keystone::bootstrap::project_name:     "%{hiera('keystone__service__project')}"
keystone::bootstrap::internal_url:     "%{hiera('endpoint__identity__internal')}"
keystone::bootstrap::region:           "%{location}"
keystone::bootstrap::interface:        'internal'

# Enable extra yum repo
profile::base::yumrepo::repo_hash:
  rdo-release:
    ensure:   present
  epel: # should be absent when using RDO, but whitelist can also work
    ensure:   present
    includepkgs: 'htop bash-completion'

# telemetry runs the central polling
ceilometer::agent::polling::central_namespace: true
ceilometer::agent::polling::compute_namespace: false
ceilometer::agent::polling::ipmi_namespace:    false

profile::openstack::telemetry::manage_firewall:           true
profile::openstack::telemetry::manage_gnocchi_resources:  true
profile::openstack::telemetry::manage_meters:             true
profile::openstack::telemetry::pipeline::pipeline_publishers: ['gnocchi://?archive_policy=ceilometer-low&filter_service_activity=false']

profile::openstack::openrc::password:                   "%{hiera('ceilometer_api_password')}"
profile::openstack::openrc::username:                   'ceilometer'
profile::openstack::openrc::project_name:               'services'

profile::openstack::telemetry::polling::polling_interval: 3600   #FIXME
profile::openstack::telemetry::polling::manage_polling:   true

# FIXME:sensu-go
profile::monitoring::sensu::agent::enable_go_agent:   true
profile::monitoring::sensu::agent::enable_agent:      false

# Sensu
sensu::agent::subscriptions:
  - 'base'
  - 'nodes'
  - 'metrics'
