---
# include default for vagrant to avoid having to reinstall to test the proxy module
#include:
#  default:
#    -  profile::network::yum_proxy
#
# include this to get automatic patching after installation
include:
  default:
    - profile::development::patch
    - profile::application::openssl

profile::application::openssl::manage_ca_cert:  true

# The current vagrant box image do not have vda3 parso switch
# off lvm for compute on vagrant
profile::base::common::manage_lvm: false

# The next two for testing proxy.sh creation, normally not needed in vagrant environments
#profile::base::network::manage_httpproxy: 'true'
#profile::base::network::http_proxy:       'updateproxy.uio.no:3128'
#profile::base::network::http_proxy:       'www-cache.uib.no:81'

# to configure yum proxy set this appropriately
profile::network::yum_proxy::yum_proxy: ''
#profile::network::yum_proxy::yum_proxy: 'http://updateproxy.uio.no:3128'
#profile::network::yum_proxy::yum_proxy: 'http://www-cache.uib.no:81'

profile::base::lvm::physical_volume:
  '/dev/vda3':
    ensure: present
    force:  true
profile::base::lvm::volume_group:
  'vg_ext':
    physical_volumes:
      - /dev/vda3

profile::openstack::network::calico::manage_dhcp_agent_override: true
profile::openstack::network::calico::dhcp_agent_config:
  DEFAULT/dnsmasq_config_file:
    value: '/dev/null'

nova::config::nova_config:
  DEFAULT/metadata_workers:
    value: '2'

# test telemetry polling (require metric and telemetry nodes in vagrant)
profile::openstack::compute::manage_telemetry: true

# enable consul
#include:
#  default:
#    - profile::application::consul

consul::services:
  'foreman':
    tags: ["TheForeman"]
    port: 80

# sensu
sensu::agent::subscriptions:
  - 'base'
  - 'metrics'
  - 'compute'
#  - 'physical'

# collectd
profile::monitoring::telegraf::enable_telegraf: false # require puppet cert
profile::monitoring::collectd::enable: false # require telegraf

# Red Hat Subscription Management (RHSM)
profile::rhsm::subscription::manage: false
profile::rhsm::virtwho::manage:      false

profile::base::common::packages:
  'python3-redis': {} # OSProfiler dependency

profile::openstack::compute::manage_osprofiler: true

profile::storage::cephclient::enable: false
