---
include:
  bootstrap:
    - profile::application::openssl

profile::application::openssl::manage_ca_cert:  true
profile::application::openssl::certs:
  "%{::hostname}.%{hiera('domain_trp')}":
    cn:     "%{::hostname}.%{hiera('domain_trp')}"
    altnames:
      - "%{::hostname}.%{hiera('domain_trp')}"
      - "%{::fqdn}"

# FIXME:sensu-go
profile::monitoring::sensu::agent::checks:              {}
