---
gnocchi::keystone::authtoken::insecure:		true
keystone::resource::authtoken::insecure:	true
keystone::service::insecure:			true
keystone::validate_insecure:			true
keystone::validate_cacert:			false

# Allow statsd from mgmt to work with himlarcli
profile::openstack::metric::firewall_extras:
  source: '0.0.0.0/0'
