---
gnocchi::keystone::authtoken::insecure:     true
keystone::resource::authtoken::insecure:    true

memcached::max_memory: '10%'

profile::openstack::metric::manage_redis:        true
profile::openstack::metric::manage_storage_file: true
profile::openstack::metric::manage_storage_ceph: false
profile::openstack::metric::manage_storage_incoming_redis: true

profile::application::openssl::manage_ca_cert:  true
profile::application::openssl::certs:
  "%{::hostname}.%{hiera('domain_trp')}":
    cn:     "%{::hostname}.%{hiera('domain_trp')}"
    altnames:
      - "%{::hostname}.%{hiera('domain_trp')}"
      - "%{::fqdn}"

# Allow statsd from mgmt to work with himlarcli
profile::openstack::metric::firewall_extras:
  source: '0.0.0.0/0'

# disks
profile::base::common::manage_lvm: false

# Set SELinux mode to enforcing
profile::base::selinux::manage_selinux: true

# Fix SELinux file context for Gnocchi httpd/wsgi
profile::base::selinux::fcontext:
  gnocchi-wsgi:
    seltype:  'httpd_var_lib_t'
    pathspec: '/var/lib/gnocchi(/.*)?'
profile::base::selinux::exec_restorecon:
  gnocchi-wsgi:
    path:    '/var/lib/gnocchi'
    recurse: true

mysql::server::override_options:
  mysqld:
    max_connections:                "%{hiera('mysql__config__max_connections')}"
    table_open_cache:               16384
    query_cache_size:               "%{hiera('mysql__config__query_cache_size')}"
    query_cache_limit:              "%{hiera('mysql__config__query_cache_limit')}"
    join_buffer_size:               '2M'
    innodb_log_file_size:           "%{hiera('mysql__config__innodb_log_file_size')}"
    innodb_buffer_pool_size:        "%{hiera('mysql__config__innodb_buffer_pool_size')}"
    log-error:                      '/var/log/mysqld.log'
    pid-file:                       "/var/lib/mysql/%{::hostname}.pid"
    bind-address:                   "127.0.0.1"
    ssl:                            'true'
    ssl-ca:                         "%{hiera('db_ssl_ca')}"
    ssl-key:                        "%{hiera('db_ssl_key')}"
    ssl-cert:                       "%{hiera('db_ssl_cert')}"
