---
# star_api_ssl_pem: "api.%{hiera('domain_public')}.pem"
# api_ssl_pem:      "status.%{hiera('domain_public')}.pem"
# status_ssl_pem:   "status.%{hiera('domain_public')}.pem"
# console_ssl_pem:  "status.%{hiera('domain_public')}.pem" #FIXME (cert)
# access_ssl_pem:   "status.%{hiera('domain_public')}.pem" #FIXME (cert)

# Filter api access to testing network
block_api_connection:   'connection reject unless { src -f /etc/haproxy/test01_access.list }'

profile::network::interface::create_ip_rules:      true
profile::network::interface::create_custom_routes: true

profile::base::network::routes:
  "%{::interface_trp1}":
    'ipaddress': [ '0.0.0.0', '::' ]
    'netmask':   [ '0.0.0.0', '0' ]
    'gateway':   [ "%{hiera('netcfg_trp_gateway')}", "%{hiera('netcfg_trp_gateway6')}" ]
    'table':     [ 'anycast', 'anycast' ]
    'family':    [ 'inet4', 'inet6' ]
profile::base::network::routing_tables:
  'anycast':
    'table_id':  '239'
profile::base::network::rules:
  "%{::interface_trp1}":
    'iprule':  [ "from %{hiera('public__ip__api')} lookup anycast", "from %{hiera('public__ipv6__api')} lookup anycast" ]
    'family':  [ 'inet4', 'inet6', ]

profile::highavailability::loadbalancing::haproxy::anycast_enable: true
profile::highavailability::loadbalancing::haproxy::access_list:
  testing_network:
    ips:
      - "%{alias('allow_from_testing_network')}"
  test01_access:
    ips:
      - '129.177.6.133/32'  # bgo-login
      - '129.177.6.190/32'  # test01-login
      - '129.177.31.64/27'  # test01
      - '129.177.31.96/27'  # test01
      - '129.177.0.137/32'  # p1dclogin
      - '129.177.0.138/32'  # p2dclogin
      - '129.177.25.132/32' # raymond-dev
      - '158.39.74.6/32'    # raymond (bgo-mgmt-instance)
      - '129.240.130.12/32' # trond
      - '129.240.130.124/32'# mikael
      - '129.240.202.64/32' # mikael

# this will only work for status/access (port 80/443)
profile::highavailability::loadbalancing::haproxy::allow_from_network:
  - '129.177.6.133/32'  # bgo-login
  - '129.177.31.64/27'  # test01
  - '129.177.31.96/27'  # test01
  - '129.177.25.132/32' # raymond
  - '129.240.130.12/32' # trond
  - '129.240.130.124/32'# mikael
  - '129.240.202.64/32' # mikael

network__backend__names:
  - '%{::location}-network-01'
  - '%{::location}-network-02'
  - '%{::location}-network-03'
network__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.71"
  - "%{hiera('netcfg_trp_netpart')}.72"
  - "%{hiera('netcfg_trp_netpart')}.73"
compute__backend__names:
  - '%{::location}-novactrl-01'
  - '%{::location}-novactrl-02'
compute__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.66"
  - "%{hiera('netcfg_trp_netpart')}.67"
identity__backend__names:
  - "%{::location}-identity-01"
  - "%{::location}-identity-02"
identity__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.81"
  - "%{hiera('netcfg_trp_netpart')}.82"
image__backend__names:
  - '%{::location}-image-01'
  - '%{::location}-image-02'
image__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.36"
  - "%{hiera('netcfg_trp_netpart')}.37"
volume__backend__names:
  - "%{::location}-volume-01"
  - "%{::location}-volume-02"
volume__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.46"
  - "%{hiera('netcfg_trp_netpart')}.47"

# FIXME:sensu-go
profile::monitoring::sensu::agent::merge_strategy:  'first'
profile::monitoring::sensu::agent::plugins: {}

sensu::plugins::plugins:
  sensu-plugins-haproxy:
    version: 2.0.2

sensu::agent::subscriptions:
  - 'base'
  - 'nodes'
  - 'metrics'

profile::monitoring::sensu::agent::checks:
  happroxy-checks:
    command:                'check-haproxy.rb -S 127.0.0.1 -P 9000 -w 100 -c 50 -B 80 -b 75 -A'
    interval:               60
    subscriptions:          ['entity:%{::hostname}']
    handlers:               ['default']
    provider:               'sensu_api'
