---
named_interfaces::config:
  mgmt:
    - bond0
  trp:
    - bond0.912
  live:
    - bond0.912

ntp::servers:
  - 172.28.0.100
  - 172.28.0.101
  - 172.28.0.102

# Add custom routing table for private network to NAT
profile::base::network::routes:
  'bond0.912':
    'ipaddress': [ '0.0.0.0', '0.0.0.0', ]
    'netmask':   [ '0.0.0.0', '0.0.0.0', ]
    'gateway':   [ "%{hiera('netcfg_priv_gateway')}", "%{hiera('netcfg_trp_gateway')}" ]
    'table':     [ 'private', 'main', ]
profile::base::network::routing_tables:
  'private':
    'table_id':  '240'
profile::base::network::rules:
  'bond0.912':
    iprule: [ "from %{hiera('netcfg_priv_network')} lookup private", ]
profile::base::network::manage_neutron_blackhole: true

# remove when telemetry/ceilometer is up in all environments and move to common
profile::openstack::compute::manage_telemetry: true
