---
include:
  default:
    - profile::storage::cephclient

profile::storage::cephclient::enable: true

profile::base::yumrepo::repo_hash:
  ceph-%{hiera('ceph_version')}:
    ensure: present
  ceph-%{hiera('ceph_version')}-noarch:
    ensure: present

profile::base::common::packages:
  'python3-rados': {}

profile::openstack::metric::manage_storage_file: false
profile::openstack::metric::manage_storage_ceph: true
profile::openstack::metric::manage_storage_incoming_redis: true
profile::openstack::metric::manage_redis: true

# No extra dirs
profile::base::common::manage_lvm: false

# Set SELinux mode to enforcing
profile::base::selinux::manage_selinux: true

# Fix SELinux file context for Gnocchi httpd/wsgi
profile::base::selinux::fcontext:
  gnocchi-wsgi:
    seltype:  'httpd_var_lib_t'
    pathspec: '/var/lib/gnocchi(/.*)?'
profile::base::selinux::exec_restorecon:
  gnocchi-wsgi:
    path:    '/var/lib/gnocchi'
    recurse: true
