---
include:
  default:
    - profile::storage::cephclient

profile::storage::cephclient::enable: true

profile::base::yumrepo::repo_hash:
  ceph-%{hiera('ceph_version')}:
    ensure: present
  ceph-%{hiera('ceph_version')}-noarch:
    ensure: present

profile::base::common::packages:
  'python3-rados': {}

profile::openstack::metric::manage_storage_file: false
profile::openstack::metric::manage_storage_ceph: true
profile::openstack::metric::manage_storage_incoming_redis: true
profile::openstack::metric::manage_redis: true

# Override LVM disks
profile::base::common::manage_lvm: false
