---

profile::dns::ns::ptr_zones:
  mgmt01:
    cidr: "172.28.0.0/24"
    origin: "0.16.172.in-addr.arpa"
  mgmt02:
    cidr: "172.28.1.0/24"
    origin: "1.16.172.in-addr.arpa"
  mgmt03:
    cidr: "172.28.2.0/24"
    origin: "2.16.172.in-addr.arpa"
  mgmt04:
    cidr: "172.28.3.0/24"
    origin: "3.16.172.in-addr.arpa"
  mgmt05:
    cidr: "172.28.4.0/24"
    origin: "4.16.172.in-addr.arpa"
  mgmt06:
    cidr: "172.28.5.0/24"
    origin: "5.16.172.in-addr.arpa"
  mgmt07:
    cidr: "172.28.6.0/24"
    origin: "6.16.172.in-addr.arpa"
  mgmt08:
    cidr: "172.28.7.0/24"
    origin: "7.16.172.in-addr.arpa"
  transport01:
    cidr: "172.30.0.0/24"
    origin: "0.18.172.in-addr.arpa"
  transport02:
    cidr: "172.30.1.0/24"
    origin: "1.18.172.in-addr.arpa"
  transport03:
    cidr: "172.30.2.0/24"
    origin: "2.18.172.in-addr.arpa"
  transport04:
    cidr: "172.30.3.0/24"
    origin: "3.18.172.in-addr.arpa"
  transport05:
    cidr: "172.30.4.0/24"
    origin: "4.18.172.in-addr.arpa"
  transport06:
    cidr: "172.30.5.0/24"
    origin: "5.18.172.in-addr.arpa"
  transport07:
    cidr: "172.30.6.0/24"
    origin: "6.18.172.in-addr.arpa"
  transport08:
    cidr: "172.30.7.0/24"
    origin: "7.18.172.in-addr.arpa"
  public:
    cidr: "129.177.31.64/27"
    origin: "31.177.129.in-addr.arpa"
  ipv6:
    cidr: "2001:700:200:916::/64"
    origin: "6.1.9.0.0.0.2.0.0.0.7.0.1.0.0.2.ip6.arpa"

profile::dns::ns::allowed_nets:
  - '172.28.0.0/12;         # internal rfc1918'
  - '10.0.0.0/8;            # rfc1918 for ipv6 only instances'
  - '129.177.31.64/27;      # test01 IPv4'
  - '129.177.31.96/27;      # test01 IPv4'
  - '129.177.6.133/32;      # bgologin'
  - '2001:700:200:915::/64; # test01 IPv6'
  - '2001:700:200:916::/64; # test01 IPv6'
  - 'fd34::/64;             # test02 IPv6'
