---
profile::openstack::volume::type:
  rbd:
    visibility: "public"
    properties:
      - 'volume_backend_name=rbd-volumes'
  rbd-hdd-ec:
    visibility: "private"
    properties:
      - 'volume_backend_name=rbd-hdd-ec'

profile::openstack::volume::backend::rbd:
  rbd-volumes:
    rbd_pool: 'volumes'
    rbd_user: 'cinder'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      rbd-volumes/report_discard_supported:
        value: 'True'
  rbd-hdd-ec:
    rbd_pool: 'volume_hdd_ec'
    rbd_user: 'cinder'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      rbd-volumes/report_discard_supported:
        value: 'True'
