---
profile::openstack::volume::type:
  rbd:
    is_public: true
    properties:
      - 'volume_backend_name=rbd-volumes'
  mass-storage-default:
    is_public: true
    properties:
      - 'volume_backend_name=mass-storage-default'
  mass-storage-ssd:
    is_public: true
    properties:
      - 'volume_backend_name=mass-storage-ssd'

# Fix backend_host to avoid using default fqdn@<rbd_pool>
cinder::config::cinder_config:
  rbd-volumes/backend_host:
    value: 'rbd:volumes'
  mass-storage-default/backend_host:
    value: 'rbd:volumes_hdd_ec_meta'
  mass-storage-ssd/backend_host:
    value: 'rbd:volumes_ssd_ec_meta'

profile::openstack::volume::backend::rbd:
  rbd-volumes:
    rbd_pool: 'volumes'
    rbd_user: 'cinder'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      rbd-volumes/enable_deferred_deletion:
        value: 'True'
      rbd-volumes/rbd_exclusive_cinder_pool:
        value: 'True'
  mass-storage-default:
    rbd_pool: 'volumes_hdd_ec_meta'
    rbd_user: 'cinder-hdd-ec'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      mass-storage-default/enable_deferred_deletion:
        value: 'True'
      mass-storage-default/rbd_exclusive_cinder_pool:
        value: 'True'
      mass-storage-default/report_dynamic_total_capacity:
        value: 'False'
      mass-storage-default/max_over_subscription_ratio:
        value: '2000.0'
  mass-storage-ssd:
    rbd_pool: 'volumes_ssd_ec_meta'
    rbd_user: 'cinder-ssd-ec'
    rbd_flatten_volume_from_snapshot: 'True'
    rbd_secret_uuid: "%{hiera('libvirt_rbd_secret_uuid')}"
    extra_options:
      mass-storage-ssd/enable_deferred_deletion:
        value: 'True'
      mass-storage-ssd/rbd_exclusive_cinder_pool:
        value: 'True'
      mass-storage-ssd/report_dynamic_total_capacity:
        value: 'False'
      mass-storage-ssd/max_over_subscription_ratio:
        value: '100.0'

cinder::api::default_volume_type: 'mass-storage-default'

cinder::backends::enabled_backends:
  - rbd-volumes
  - mass-storage-default
  - mass-storage-ssd

# FIXME:sensu-go
profile::monitoring::sensu::agent::checks:              {}
