---

profile::network::interface::manage_dummy: true                # FIXME: Activate in common when all env is converted to el8

# Forward zones, for which the name server is authoritative
profile::dns::ns::fw_zones:
  internal:
    zone: "%{hiera('profile::dns::ns::internal_zone')}"
    filename: "pz/%{hiera('profile::dns::ns::internal_zone')}"
  public:
    zone: "%{hiera('profile::dns::ns::public_zone')}"
    filename: "pz/%{hiera('profile::dns::ns::public_zone')}"
    ns_a_records:
      'ns': "%{hiera('public__ip__ns')}"
    ns_aaaa_records:
      'ns': "%{hiera('public__ipv6__ns')}"

# Reverse zones, for which the name server is authoritative
profile::dns::ns::ptr_zones:
  mgmt01:
    cidr:     "%{hiera('netcfg_mgmt_net_c0')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c0')}"
    filename: "pz/%{hiera('reverse_mgmt_c0')}"
  mgmt02:
    cidr:     "%{hiera('netcfg_mgmt_net_c1')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c1')}"
    filename: "pz/%{hiera('reverse_mgmt_c1')}"
  mgmt03:
    cidr:     "%{hiera('netcfg_mgmt_net_c2')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c2')}"
    filename: "pz/%{hiera('reverse_mgmt_c2')}"
  mgmt04:
    cidr:     "%{hiera('netcfg_mgmt_net_c3')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c3')}"
    filename: "pz/%{hiera('reverse_mgmt_c3')}"
  mgmt05:
    cidr:     "%{hiera('netcfg_mgmt_net_c4')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c4')}"
    filename: "pz/%{hiera('reverse_mgmt_c4')}"
  mgmt06:
    cidr:     "%{hiera('netcfg_mgmt_net_c5')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c5')}"
    filename: "pz/%{hiera('reverse_mgmt_c5')}"
  mgmt07:
    cidr:     "%{hiera('netcfg_mgmt_net_c6')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c6')}"
    filename: "pz/%{hiera('reverse_mgmt_c6')}"
  mgmt08:
    cidr:     "%{hiera('netcfg_mgmt_net_c7')}.0/24"
    origin:   "%{hiera('reverse_mgmt_c7')}"
    filename: "pz/%{hiera('reverse_mgmt_c7')}"
  transport01:
    cidr:     "%{hiera('netcfg_trp_net_c0')}.0/24"
    origin:   "%{hiera('reverse_trp_c0')}"
    filename: "pz/%{hiera('reverse_trp_c0')}"
  transport02:
    cidr:     "%{hiera('netcfg_trp_net_c1')}.0/24"
    origin:   "%{hiera('reverse_trp_c1')}"
    filename: "pz/%{hiera('reverse_trp_c1')}"
  transport03:
    cidr:     "%{hiera('netcfg_trp_net_c2')}.0/24"
    origin:   "%{hiera('reverse_trp_c2')}"
    filename: "pz/%{hiera('reverse_trp_c2')}"
  transport04:
    cidr:     "%{hiera('netcfg_trp_net_c3')}.0/24"
    origin:   "%{hiera('reverse_trp_c3')}"
    filename: "pz/%{hiera('reverse_trp_c3')}"
  transport05:
    cidr:     "%{hiera('netcfg_trp_net_c4')}.0/24"
    origin:   "%{hiera('reverse_trp_c4')}"
    filename: "pz/%{hiera('reverse_trp_c4')}"
  transport06:
    cidr:     "%{hiera('netcfg_trp_net_c5')}.0/24"
    origin:   "%{hiera('reverse_trp_c5')}"
    filename: "pz/%{hiera('reverse_trp_c5')}"
  transport07:
    cidr:     "%{hiera('netcfg_trp_net_c6')}.0/24"
    origin:   "%{hiera('reverse_trp_c6')}"
    filename: "pz/%{hiera('reverse_trp_c6')}"
  transport08:
    cidr:     "%{hiera('netcfg_trp_net_c7')}.0/24"
    origin:   "%{hiera('reverse_trp_c7')}"
    filename: "pz/%{hiera('reverse_trp_c7')}"
  public:
    cidr: "10.100.200.0/24" # facts for public1 are /32 and cannot be used here
    origin: "%{hiera('reverse_public')}"
    filename: "pz/%{hiera('reverse_public')}"
  ipv6:
    cidr: "fd34::/7" #FIXME missing facts for IPv6 (see backlog)
    origin: "%{hiera('reverse_public6')}"
    filename: "pz/%{hiera('reverse_public6')}"

# Secondary forward zones, for which this ns is slave
#profile::dns::ns::fw_slave_zones:
#  test01_internal:
#    zone: 'test01.uhdc.no'
#    filename: "sz/test01.uhdc.no"
#  test01_public:
#    zone: 'test.iaas.uib.no'
#    filename: "sz/test.iaas.uib.no"

# Secondary reverse zones, for which this ns is slave
#profile::dns::ns::ptr_slave_zones:
#  test01_mgmt:
#    cidr: "172.28.0.0/24"
#    origin: "0.28.172.in-addr.arpa"
#    filename: "sz/0.28.172.in-addr.arpa"
#  test01_transport:
#    cidr: "172.30.0.0/24"
#    origin: "0.30.172.in-addr.arpa"
#    filename: "sz/0.30.172.in-addr.arpa"
#  test01_public:
#    cidr: "129.177.31.0/24"
#    origin: "31.177.129.in-addr.arpa"
#    filename: "sz/31.177.129.in-addr.arpa"
#  test01_ipv6:
#    cidr: "2001:700:200:916::/64"
#    origin: "6.1.9.0.0.0.2.0.0.0.7.0.1.0.0.2.ip6.arpa"
#    filename: "sz/6.1.9.0.0.0.2.0.0.0.7.0.1.0.0.2.ip6.arpa"
