passfile
private/
serial
serial.old
newcerts/
intermediate/serial
intermediate/private/
intermediate/index.txt
intermediate/index.txt.attr
intermediate/csr/
intermediate/crlnumber
intermediate/certs/
index.txt.old
index.txt.attr
index.txt
certs/
