---
include:
  default:
    - profile::network::nat
    - profile::network::ipsec

named_interfaces::config:
  mgmt:
    - eth0
  public:
    - eth1

profile::network::ipsec::enable:              true
profile::network::ipsec::manage_firewall:     true
profile::network::ipsec::manage_ipforwarding: false

profile::base::network::net_ifnames:          true
profile::base::common::manage_keyboard:       true
profile::base::common::manage_yumrepo:        true
profile::base::common::manage_packages:       true

profile::network::nat::enable_bird:           true
profile::network::nat::manage_bird_firewall:  true
profile::network::nat::bird_template:         'bird-azure.conf.erb'
profile::network::nat::iniface:               "%{::interface_mgmt1}"
profile::network::nat::bird_export_networks:
  - '129.177.14.0/24'
  - '129.177.5.0/24'
  - '129.177.6.193/32'
  - '129.177.30.16/32'
  - '129.177.30.56/32'
  - '129.177.30.244/32'
  - '129.177.30.247/32'
  - '129.177.30.252/32'

profile::network::nat::enable_snat:           true
profile::network::nat::outiface:              "%{::interface_public1}"
#profile::network::nat::source:                "!%{::ipaddress_public1}"
