[Unit]
Description=Enable SR-IOV VFs for NVIDIA vGPU hosts

[Service]
Type=oneshot
User=root
ExecStart=/bin/sleep 10
ExecStart=/usr/lib/nvidia/sriov-manage -e ALL
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
