---
#api_ssl_pem:      "api.uh-iaas.no.pem"
#status_ssl_pem:   "status.uh-iaas.no.pem"
#console_ssl_pem:  "console.uh-iaas.no.pem"
#access_ssl_pem:   "access.uh-iaas.no.pem"
frontend_star_ssl_pem:    "star.%{hiera('domain_frontend')}.pem"
frontend_star_ssl_pem2:   "star.%{hiera('domain_frontend2')}.pem"

#profile::network::interface::create_ip_rules:      true
#profile::network::interface::create_custom_routes: true

#profile::base::network::routes:
#  "%{hiera('named_interfaces::config.trp.0')}":
#    'ipaddress': [ '0.0.0.0', '::' ]
#    'netmask':   [ '0.0.0.0', '0' ]
#    'gateway':   [ "%{hiera('netcfg_trp_gateway')}", "%{hiera('netcfg_trp_gateway6')}" ]
#    'table':     [ 'anycast', 'anycast' ]
#    'family':    [ 'inet4', 'inet6' ]
#profile::base::network::routing_tables:
#  'anycast':
#    'table_id':  '239'
#profile::base::network::rules:
#  "%{hiera('named_interfaces::config.trp.0')}":
#    'iprule':  [ "from %{hiera('public__ip__api')} lookup anycast", "from %{hiera('public__ipv6__api')} lookup anycast" ]
#    'family':  [ 'inet4', 'inet6', ]
#
#profile::highavailability::loadbalancing::haproxy::anycast_enable: true

network__backend__names:
  - '%{::location}-network-01'
  - '%{::location}-network-02'
  - '%{::location}-network-03'
network__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.71"
  - "%{hiera('netcfg_trp_netpart')}.72"
  - "%{hiera('netcfg_trp_netpart')}.73"
compute__backend__names:
  - '%{::location}-novactrl-01'
  - '%{::location}-novactrl-02'
  - '%{::location}-novactrl-03'
compute__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.66"
  - "%{hiera('netcfg_trp_netpart')}.67"
  - "%{hiera('netcfg_trp_netpart')}.68"
identity__backend__names:
  - "%{::location}-identity-01"
  - "%{::location}-identity-02"
  - "%{::location}-identity-03"
identity__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.81"
  - "%{hiera('netcfg_trp_netpart')}.82"
  - "%{hiera('netcfg_trp_netpart')}.83"
image__backend__names:
  - '%{::location}-image-01'
  - '%{::location}-image-02'
  - '%{::location}-image-03'
image__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.36"
  - "%{hiera('netcfg_trp_netpart')}.37"
  - "%{hiera('netcfg_trp_netpart')}.38"
volume__backend__names:
  - "%{::location}-volume-01"
  - "%{::location}-volume-02"
  - "%{::location}-volume-03"
volume__backend__ips:
  - "%{hiera('netcfg_trp_netpart')}.46"
  - "%{hiera('netcfg_trp_netpart')}.47"

profile::highavailability::loadbalancing::haproxy::haproxy_mapfile:
  internal_domains:
    ensure: present
    mappings:
      - "image.osl.uhdc.no:9292":            'bk_image'
