---
ntp::servers:
  - 172.16.0.100
  - 172.16.0.101
  - 172.16.0.102

# Add custom routing table for private network to NAT
profile::base::network::routes:
  'team1':
    'ipaddress': [ '0.0.0.0', '0.0.0.0', ]
    'netmask':   [ '0.0.0.0', '0.0.0.0', ]
    'gateway':   [ "%{hiera('netcfg_priv_gateway')}", "%{hiera('netcfg_trp_gateway')}" ]
    'table':     [ 'private', 'main', ]
profile::base::network::routing_tables:
  'private':
    'table_id':  '240'
profile::base::network::rules:
  'team1':
    iprule: [ "from %{hiera('netcfg_priv_network')} lookup private", ]
profile::base::network::manage_neutron_blackhole: true
