---
include:
  default:
    - profile::network::services

ntp::servers:
  - 172.16.0.106
  - 172.16.0.107
  - 172.16.0.108

foreman_bootstrap::virt_install:
  bgo-foreman-01:
    domain:          'mgmt.iaas.intern'
    libvirt_pool:    'dirpool'
    libvirt_network: 'directnet'
    install_ip:      '172.16.0.11'
    install_netmask: '255.255.248.0'
    install_gateway: '172.16.0.1'

profile::base::network::manage_httpproxy: 'true'
profile::base::network::http_proxy:       "%{hiera('service__address__proxy')}:8888"
