---
profile::network::services::manage_dhcp: false

foreman_bootstrap::nameserver: '129.177.6.54'
foreman_bootstrap::tftp_install:
  bgo-controller-01:
    domain:           'mgmt.iaas.intern'
    dhcp_interface:   'eth2'
    dhcp_range_start: '172.16.0.200'
    dhcp_range_end:   '172.16.0.250'
    dhcp_gateway:     '172.16.0.1'
  dev01-controller-01:
    domain:           'mgmt.dev.iaas.intern'
    dhcp_interface:   'eth3'
    dhcp_range_start: '172.31.1.100'
    dhcp_range_end:   '172.31.1.120'
    dhcp_gateway:     '172.31.1.1'
