---
profile::network::services::manage_dhcp: false

foreman_bootstrap::tftp_install:
  bgo-controller-01:
    domain:           'mgmt.iaas.intern'
    dhcp_interface:   'eth2'
    dhcp_range_start: '172.16.32.200'
    dhcp_range_end:   '172.16.32.250'
    dhcp_gateway:     '172.16.32.1'
  dev01-controller-01:
    domain:           'mgmt.dev.iaas.intern'
    dhcp_interface:   'eth3'
    dhcp_range_start: '192.168.10.100'
    dhcp_range_end:   '192.168.10.120'
    dhcp_gateway:     '192.168.10.1'
