---
include:
  default:
    - profile::openstack::compute::pci_passthrough

profile::openstack::resource::host_aggregate:
  central1:
    availability_zone: "%{::location}-default-1"
  windows1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'windows'
  shpc_cpu1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'shpc_cpu'
  shpc_ram1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'shpc_ram'
  alice1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'alice'
  alice2:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'alice'
  clarino1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'clarino'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        bf017d42f06c4eb590276eccb9d571dd,
        582a164fc3bb4a19beb749d96a310f90
  elixir1: # amd
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'elixir1'
  elixir2: # intel
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'elixir2'
  placeholder1:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'standard'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        db3a36ac1c8e4af9b570433d3678226d,
        bf017d42f06c4eb590276eccb9d571dd,
        3eae4805dcd6450fb98651f5a9dc9ded
  placeholder_shpc1:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'shpc_cpu'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        db3a36ac1c8e4af9b570433d3678226d,
        bf017d42f06c4eb590276eccb9d571dd,
        3eae4805dcd6450fb98651f5a9dc9ded
  placeholder_shpc_ram1:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'shpc_ram'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        db3a36ac1c8e4af9b570433d3678226d,
        bf017d42f06c4eb590276eccb9d571dd,
        3eae4805dcd6450fb98651f5a9dc9ded
  placeholder_vgpu1:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'vgpu'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        bf017d42f06c4eb590276eccb9d571dd,
        582a164fc3bb4a19beb749d96a310f90
  placeholder_vgpu161:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'vgpu16'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249,
        bf017d42f06c4eb590276eccb9d571dd,
        582a164fc3bb4a19beb749d96a310f90
  placeholder_vgpu_l40s1:
    availability_zone: "%{::location}-iaas-team-only-1"
    metadata:
      type: 'vgpul40s'
      filter_tenant_id: >-
        e3dcca3452924794a6aebdd21b5da249  
  vgpu1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'vgpu'
  vgpu161:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'vgpu16'
  vgpu_l40s1:
    availability_zone: "%{::location}-default-1"
    metadata:
      type: 'vgpul40s'
      
profile::openstack::compute::pci_passthrough::manage_pcipassthrough: true

# QLogic Corp ISP2532-based 8Gb Fibre Channel to PCI Express HBA
nova::pci::aliases:
  - 'vendor_id':   '1077'
    'product_id':  '2532'
    'device_type': 'type-PCI'
    'name':        'isp2532'
  # AMD Instinct MI100
  - 'vendor_id':   '1002'
    'product_id':  '738c'
    'device_type': 'type-PCI'
    'name':        'amd_mi100'
